# Use TTH_Template Custom Notebook template

In [1]:
import datetime, warnings, scipy 
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.patches as patches
from matplotlib.patches import ConnectionPatch
from matplotlib.gridspec import GridSpec
from mpl_toolkits.basemap import Basemap
import seaborn as sns

from collections import OrderedDict

from scipy.optimize import curve_fit

from sklearn import metrics, linear_model
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict

plt.rcParams["patch.force_edgecolor"] = True
plt.style.use('fivethirtyeight')
mpl.rc('patch', edgecolor = 'dimgray', linewidth=1)
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "last_expr"
pd.options.display.max_columns = 50
%matplotlib inline
warnings.filterwarnings("ignore")

from fosforml.model_manager.snowflakesession import get_session
from fosforml import register_model

# Read data from Snowflake

In [2]:
my_session = get_session()

In [4]:
table_name = 'FLIGHTS'

sf_df = my_session.sql("select * from {}".format(table_name))
df = sf_df.to_pandas()

In [5]:
print('Dataframe dimensions:', df.shape)

Dataframe dimensions: (5819079, 31)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
 #   Column                    Dtype
---  ------                    -----
 0   YEAR                      int16
 1   MONTH                     int8
 2   DAY                       int8
 3   DAY_OF_WEEK               int8
 4   AIRLINE__CODE             object
 5   FLIGHT_NUMBER             int16
 6   TAIL_NUMBER               object
 7   ORIGIN_AIRPORT_CODE       object
 8   DESTINATION_AIRPORT_CODE  object
 9   SCHEDULED_DEPARTURE       int16
 10  DEPARTURE_TIME            float64
 11  DEPARTURE_DELAY           float64
 12  TAXI_OUT                  float64
 13  WHEELS_OFF                float64
 14  SCHEDULED_TIME            float64
 15  ELAPSED_TIME              float64
 16  AIR_TIME                  float64
 17  DISTANCE                  int16
 18  WHEELS_ON                 float64
 19  TAXI_IN                   float64
 20  SCHEDULED_ARRIVAL         int16
 21  ARRIVAL_TIME              float64
 22  ARRIVAL_DELAY             float64
 23  DIVERTED                  int8
 24  CANCELLED                 int8
 25  CANCELLATION_REASON       object
 26  AIR_SYSTEM_DELAY          float64
 27  SECURITY_DELAY            float64
 28  AIRLINE_DELAY             float64
 29  LATE_AIRCRAFT_DELAY       float64
 30  WEATHER_DELAY             float64
dtypes: float64(16), int16(5), int8(5), object(5)
memory usage: 1015.6+ MB

In [7]:
# gives some infos on columns types and number of null values
tab_info=pd.DataFrame(df.dtypes).T.rename(index={0:'column type'})
tab_info = pd.
tab_info=tab_info.append(pd.DataFrame(df.isnull().sum()).T.rename(index={0:'null values (nb)'}))
tab_info=tab_info.append(pd.DataFrame(df.isnull().sum()/df.shape[0]*100)
                         .T.rename(index={0:'null values (%)'}))
tab_info

AttributeError: 'DataFrame' object has no attribute 'append'

In [3]:
table_name = 'FLIGHTS_FULL'

sf_df = my_session.sql("select * from {}".format(table_name))
df = sf_df.to_pandas()

In [9]:
airports = df.copy()

In [10]:
airports.shape

(5332914, 45)

In [11]:
airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5332914 entries, 0 to 5332913
Data columns (total 45 columns):
 #   Column                    Dtype
---  ------                    -----
 0   YEAR                      int16
 1   MONTH                     int8
 2   DAY                       int8
 3   DAY_OF_WEEK               int8
 4   AIRLINE__CODE             object
 5   FLIGHT_NUMBER             int16
 6   TAIL_NUMBER               object
 7   ORIGIN_AIRPORT_CODE       object
 8   DESTINATION_AIRPORT_CODE  object
 9   SCHEDULED_DEPARTURE       int16
 10  DEPARTURE_TIME            float64
 11  DEPARTURE_DELAY           float64
 12  TAXI_OUT                  float64
 13  WHEELS_OFF                float64
 14  SCHEDULED_TIME            float64
 15  ELAPSED_TIME              float64
 16  AIR_TIME                  float64
 17  DISTANCE                  int16
 18  WHEELS_ON                 float64
 19  TAXI_IN                   float64
 20  SCHEDULED_ARRIVAL         int16
 21  ARRIVAL_TIME              float64
 22  ARRIVAL_DELAY             float64
 23  DIVERTED                  int8
 24  CANCELLED                 int8
 25  CANCELLATION_REASON       object
 26  AIR_SYSTEM_DELAY          float64
 27  SECURITY_DELAY            float64
 28  AIRLINE_DELAY             float64
 29  LATE_AIRCRAFT_DELAY       float64
 30  WEATHER_DELAY             float64
 31  FLY_DATE                  object
 32  AIRLINE                   object
 33  ORIGIN_AIRPORT            object
 34  ORIGIN_CITY               object
 35  ORIGIN_STATE              object
 36  ORIGIN_COUNTRY            object
 37  ORIGIN_LATITUDE           float64
 38  ORIGIN_LONGITUDE          float64
 39  DEST_AIRPORT              object
 40  DEST_CITY                 object
 41  DEST_STATE                object
 42  DEST_COUNTRY              object
 43  DEST_LATITUDE             float64
 44  DEST_LONGITUDE            float64
dtypes: float64(20), int16(5), int8(5), object(15)
memory usage: 1.5+ GB

In [16]:
count_flights = df['ORIGIN_AIRPORT_CODE'].value_counts()

In [17]:
count_flights

ORIGIN_AIRPORT_CODE
ATL    346836
ORD    285884
DFW    239551
DEN    196055
LAX    194673
        ...
HYA        83
DLG        77
GST        77
AKN        63
ITH        34
Name: count, Length: 322, dtype: int64

In [ ]:
#___________________________
plt.figure(figsize=(11,11))
#________________________________________
# define properties of markers and labels
colors = ['yellow', 'red', 'lightblue', 'purple', 'green', 'orange']
size_limits = [1, 100, 1000, 10000, 100000, 1000000]
labels = []
for i in range(len(size_limits)-1):
    labels.append("{} <.< {}".format(size_limits[i], size_limits[i+1])) 
#____________________________________________________________
map = Basemap(resolution='i',llcrnrlon=-180, urcrnrlon=-50,
              llcrnrlat=10, urcrnrlat=75, lat_0=0, lon_0=0,)
map.shadedrelief()
map.drawcoastlines()
map.drawcountries(linewidth = 3)
map.drawstates(color='0.3')
#_____________________
# put airports on map
for index, (code, y,x) in airports[['ORIGIN_AIRPORT_CODE', 'ORIGIN_LATITUDE', 'ORIGIN_LONGITUDE']].iterrows():
    x, y = map(x, y)
    isize = [i for i, val in enumerate(size_limits) if val < count_flights[code]]
    ind = isize[-1]
    map.plot(x, y, marker='o', markersize = ind+5, markeredgewidth = 1, color = colors[ind],
             markeredgecolor='k', label = labels[ind])
#_____________________________________________
# remove duplicate labels and set their order
handles, labels = plt.gca().get_legend_handles_labels()
by_label = OrderedDict(zip(labels, handles))
key_order = ('1 <.< 100', '100 <.< 1000', '1000 <.< 10000',
             '10000 <.< 100000', '100000 <.< 1000000')
new_label = OrderedDict()
for key in key_order:
    new_label[key] = by_label[key]
plt.legend(new_label.values(), new_label.keys(), loc = 1, prop= {'size':11},
           title='Number of flights per year', frameon = True, framealpha = 1)
plt.show()