# install libraries

In [ ]:
!pip install --upgrade pip
!pip install "snowflake-connector-python[pandas]" "snowflake-snowpark-python[pandas]" snowflake-snowpark-python==1.9.0 fosforio fosforml numpy pandas matplotlib scikit-learn xgboost seaborn python-dateutil tqdm holidays
!pip install --upgrade --q snowflake-snowpark-python==1.9.0
!pip uninstall urllib3 -y
!pip install urllib3==1.26.15

# Import helper libraries

In [1]:
from fosforio import snowflake
from fosforml import *
from fosforml.constants import MLModelFlavours
from fosforio import get_dataframe
from matplotlib import pyplot as plt
import pandas as pd
pd.set_option('display.max_columns', 500)
import seaborn as sns
from sklearn.metrics import mean_absolute_percentage_error
import numpy as np
import warnings; warnings.simplefilter('ignore')
from joblib import dump, load
import requests
from tqdm import tqdm
import time
import calendar

from time import sleep
import configparser
from dateutil.relativedelta import relativedelta
import datetime
from dateutil.easter import easter
%matplotlib inline

Connection manager service url initialised to http://fdc-project-manager:80/project-manager
If you need to update its value then update the variable CONNECTION_MANAGER_BASE_URL in os env.

/tmp/pip_packages/_distutils_hack/__init__.py:26: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")
Matplotlib created a temporary cache directory at /tmp/matplotlib-kz5e5kuf because the default path (/home/mosaic-ai/.cache/matplotlib) is not a writable directory; it is highly recommended to set the MPLCONFIGDIR environment variable to a writable directory, in particular to speed up the import of Matplotlib and to better support multiprocessing.

# connect to snowflake

In [2]:
snowflake.get_connection(connection_name="TTH_REV_OPT_CXN")
data = get_dataframe("BOOKINGS_TRANSFORMED")
data

Connection object created: <snowflake.connector.connection.SnowflakeConnection object at 0x7f5eed993d00>
Please close the connection after use!
Reading dataframe from snowflake native connector

,ARRIVAL_DATE_TRANSFORMED,RESERVATION_STATUS_DATE_TRANSFORMED,HOTEL,IS_CANCELED,LEAD_TIME,ARRIVAL_DATE_YEAR,MONTH,ARRIVAL_DATE_WEEK_NUMBER,ARRIVAL_DATE_DAY_OF_MONTH,EXPECTED_ARRIVAL_DATE,RESERVATION_STATUS,RESERVATION_STATUS_DATE,TOTAL_STAY_NIGHTS,TALLY_DAYS,STAYS_IN_WEEKEND_NIGHTS,STAYS_IN_WEEK_NIGHTS,ADULTS,CHILDREN,BABIES,TOTAL_GUESTS,AVG_ROOMS_PER_NIGHT,TOTAL_ROOM_NIGHTS,MEAL,COUNTRY,MARKET_SEGMENT,DISTRIBUTION_CHANNEL,PREVIOUS_CANCELLATIONS,PREVIOUS_BOOKINGS_NOT_CANCELED,RESERVED_ROOM_TYPE,ASSIGNED_ROOM_TYPE,DEPOSIT_TYPE,DAYS_IN_WAITING_LIST,CUSTOMER_TYPE,ADR
0,2021-07-16,2020-10-17,City Hotel,1,272,2021,7,29,16,16-07-2021,Canceled,17-10-2020,2,0.272,0,2,2,0,0,2,1,2,BB,PRT,Groups,TA/TO,1,0,A,A,No Deposit,0,Transient.Party,62.80
1,2021-08-20,2020-10-17,City Hotel,1,307,2021,8,34,20,20-08-2021,Canceled,17-10-2020,2,0.307,0,2,2,0,0,2,1,2,BB,PRT,Groups,TA/TO,1,0,A,A,No Deposit,0,Transient.Party,62.80
2,2021-07-02,2020-10-17,City Hotel,1,258,2021,7,27,2,02-07-2021,Canceled,17-10-2020,2,0.258,0,2,2,0,0,2,1,2,BB,PRT,Groups,TA/TO,1,0,A,A,No Deposit,0,Transient.Party,62.80
3,2021-08-20,2020-10-17,City Hotel,1,307,2021,8,34,20,20-08-2021,Canceled,17-10-2020,2,0.307,0,2,2,0,0,2,1,2,BB,PRT,Groups,TA/TO,1,0,A,A,No Deposit,0,Transient.Party,62.80
4,2021-07-23,2020-10-17,City Hotel,1,279,2021,7,30,23,23-07-2021,Canceled,17-10-2020,2,0.279,0,2,2,0,0,2,1,2,BB,PRT,Groups,TA/TO,1,0,A,A,No Deposit,0,Transient.Party,62.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109706,2023-08-24,2023-09-10,Resort Hotel,0,269,2023,8,34,24,24-08-2023,Check.Out,10-09-2023,17,17.000,4,13,2,0,0,2,1,17,BB,GBR,Offline TA/TO,TA/TO,0,0,D,D,No Deposit,0,Contract,84.80
109707,2023-08-31,2023-09-10,Resort Hotel,0,212,2023,8,35,31,31-08-2023,Check.Out,10-09-2023,10,10.000,2,8,2,1,0,3,1,10,BB,GBR,Offline TA/TO,TA/TO,0,0,A,A,No Deposit,0,Transient,89.75
109708,2023-08-29,2023-09-12,Resort Hotel,0,204,2023,8,35,29,29-08-2023,Check.Out,12-09-2023,14,14.000,4,10,2,0,0,2,1,14,BB,IRL,Direct,Direct,0,0,E,E,No Deposit,0,Transient,153.57
109709,2023-08-31,2023-09-14,Resort Hotel,0,161,2023,8,35,31,31-08-2023,Check.Out,14-09-2023,14,14.000,4,10,2,0,0,2,1,14,HB,DEU,Offline TA/TO,TA/TO,0,0,A,A,No Deposit,0,Transient,99.06
109710,2023-08-31,2023-09-14,Resort Hotel,0,211,2023,8,35,31,31-08-2023,Check.Out,14-09-2023,14,14.000,4,10,2,0,0,2,1,14,HB,GBR,Offline TA/TO,TA/TO,0,0,D,D,No Deposit,0,Contract,112.80

In [3]:
data.columns = [x.lower() for x in data.columns]

In [4]:
data.columns

Index(['arrival_date_transformed', 'reservation_status_date_transformed',
       'hotel', 'is_canceled', 'lead_time', 'arrival_date_year', 'month',
       'arrival_date_week_number', 'arrival_date_day_of_month',
       'expected_arrival_date', 'reservation_status',
       'reservation_status_date', 'total_stay_nights', 'tally_days',
       'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children',
       'babies', 'total_guests', 'avg_rooms_per_night', 'total_room_nights',
       'meal', 'country', 'market_segment', 'distribution_channel',
       'previous_cancellations', 'previous_bookings_not_canceled',
       'reserved_room_type', 'assigned_room_type', 'deposit_type',
       'days_in_waiting_list', 'customer_type', 'adr'],
      dtype='object')

# removing Canceletions and no-shows and keep City hotel data only

In [5]:
df = data[(data['is_canceled'] == 0) & (data['reservation_status'] !='No-Show')] 
df

,arrival_date_transformed,reservation_status_date_transformed,hotel,is_canceled,lead_time,arrival_date_year,month,arrival_date_week_number,arrival_date_day_of_month,expected_arrival_date,reservation_status,reservation_status_date,total_stay_nights,tally_days,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,total_guests,avg_rooms_per_night,total_room_nights,meal,country,market_segment,distribution_channel,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,deposit_type,days_in_waiting_list,customer_type,adr
2388,2021-07-01,2021-07-02,Resort Hotel,0,0,2021,7,27,1,01-07-2021,Check.Out,02-07-2021,1,1.0,0,1,2,0,0,2,1,1,BB,FRA,Corporate,Corporate,0,0,A,G,No Deposit,0,Transient,107.42
2410,2021-07-01,2021-07-02,Resort Hotel,0,1,2021,7,27,1,01-07-2021,Check.Out,02-07-2021,1,1.0,0,1,1,0,0,1,1,1,BB,PRT,Corporate,Corporate,0,4,A,B,No Deposit,0,Transient,134.00
2425,2021-07-01,2021-07-02,Resort Hotel,0,2,2021,7,27,1,01-07-2021,Check.Out,02-07-2021,1,1.0,0,1,1,0,0,1,1,1,BB,PRT,Online TA,TA/TO,0,1,A,C,No Deposit,0,Transient,4.00
2427,2021-07-01,2021-07-02,Resort Hotel,0,4,2021,7,27,1,01-07-2021,Check.Out,02-07-2021,1,1.0,0,1,1,0,0,1,1,1,BB,PRT,Corporate,Corporate,0,4,A,C,No Deposit,0,Transient,134.00
2561,2021-07-01,2021-07-02,Resort Hotel,0,13,2021,7,27,1,01-07-2021,Check.Out,02-07-2021,1,1.0,0,1,1,0,0,1,1,1,BB,GBR,Corporate,Corporate,0,0,A,A,No Deposit,0,Transient,75.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109706,2023-08-24,2023-09-10,Resort Hotel,0,269,2023,8,34,24,24-08-2023,Check.Out,10-09-2023,17,17.0,4,13,2,0,0,2,1,17,BB,GBR,Offline TA/TO,TA/TO,0,0,D,D,No Deposit,0,Contract,84.80
109707,2023-08-31,2023-09-10,Resort Hotel,0,212,2023,8,35,31,31-08-2023,Check.Out,10-09-2023,10,10.0,2,8,2,1,0,3,1,10,BB,GBR,Offline TA/TO,TA/TO,0,0,A,A,No Deposit,0,Transient,89.75
109708,2023-08-29,2023-09-12,Resort Hotel,0,204,2023,8,35,29,29-08-2023,Check.Out,12-09-2023,14,14.0,4,10,2,0,0,2,1,14,BB,IRL,Direct,Direct,0,0,E,E,No Deposit,0,Transient,153.57
109709,2023-08-31,2023-09-14,Resort Hotel,0,161,2023,8,35,31,31-08-2023,Check.Out,14-09-2023,14,14.0,4,10,2,0,0,2,1,14,HB,DEU,Offline TA/TO,TA/TO,0,0,A,A,No Deposit,0,Transient,99.06
109710,2023-08-31,2023-09-14,Resort Hotel,0,211,2023,8,35,31,31-08-2023,Check.Out,14-09-2023,14,14.0,4,10,2,0,0,2,1,14,HB,GBR,Offline TA/TO,TA/TO,0,0,D,D,No Deposit,0,Contract,112.80

In [6]:
df.groupby(['hotel','market_segment','reserved_room_type']).agg({'adr':'mean','reservation_status_date_transformed':'count'})

                                                       adr  \
hotel        market_segment reserved_room_type
City Hotel   Aviation       A                    96.503608
                            D                   107.713951
                            E                   159.250000
             Complementary  A                    45.840909
                            D                    25.000000
                            E                    55.000000
             Corporate      A                    80.056789
                            D                   100.689130
                            E                   114.798295
             Direct         A                   107.756930
                            D                   132.383522
                            E                   164.454444
             Groups         A                    86.892940
                            D                    87.340441
                            E                    80.000000
             Offline TA/TO  A                    91.273987
                            D                    90.301959
                            E                   133.371644
             Online TA      A                   106.477667
                            D                   136.476930
                            E                   169.355059
Resort Hotel Complementary  A                    21.226923
                            D                    41.216667
                            E                     7.333333
             Corporate      A                    49.700175
                            D                    67.398478
                            E                    61.588545
             Direct         A                    84.610434
                            D                   116.982329
                            E                   118.980300
             Groups         A                    67.339807
                            D                    74.881529
                            E                    87.092028
             Offline TA/TO  A                    64.219800
                            D                    85.303927
                            E                    97.511393
             Online TA      A                    90.874218
                            D                   113.257346
                            E                   117.962164

                                                reservation_status_date_transformed
hotel        market_segment reserved_room_type
City Hotel   Aviation       A                                                    97
                            D                                                    81
                            E                                                     2
             Complementary  A                                                    22
                            D                                                     4
                            E                                                     2
             Corporate      A                                                  2074
                            D                                                   138
                            E                                                    88
             Direct         A                                                  3147
                            D                                                   900
                            E                                                   405
             Groups         A                                                  4132
                            D                                                    68
                            E                                                     2
             Offline TA/TO  A                                                  8457
                            D                                                   735
                            E                                                    73
             Online TA      A                                                 16496
                            D                                                  5566
                            E                                                   427
Resort Hotel Complementary  A                                                    13
                            D                                                     3
                            E                                                     3
             Corporate      A                                                  1776
                            D                                                    46
                            E                                                    55
             Direct         A                                                  2486
                            D                                                   966
                            E                                                   801
             Groups         A                                                  2593
                            D                                                   399
                            E                                                   217
             Offline TA/TO  A                                                  3654
                            D                                                  1752
                            E                                                   725
             Online TA      A                                                  5960
                            D                                                  2204
                            E                                                  1691

In [7]:
data = df[(df.market_segment != 'Complementary') ]
data = data[(data.reserved_room_type == 'A') |(data.reserved_room_type == 'D') | (data.reserved_room_type == 'E')]
data.reserved_room_type.value_counts()

reserved_room_type
A    50872
D    12855
E     4486
Name: count, dtype: int64

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 68213 entries, 2388 to 109710
Data columns (total 34 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   arrival_date_transformed             68213 non-null  object
 1   reservation_status_date_transformed  68213 non-null  object
 2   hotel                                68213 non-null  object
 3   is_canceled                          68213 non-null  int8
 4   lead_time                            68213 non-null  int16
 5   arrival_date_year                    68213 non-null  int16
 6   month                                68213 non-null  int8
 7   arrival_date_week_number             68213 non-null  int8
 8   arrival_date_day_of_month            68213 non-null  int8
 9   expected_arrival_date                68213 non-null  object
 10  reservation_status                   68213 non-null  object
 11  reservation_status_date              68213 non-null  object
 12  total_stay_nights                    68213 non-null  int8
 13  tally_days                           68213 non-null  float64
 14  stays_in_weekend_nights              68213 non-null  int8
 15  stays_in_week_nights                 68213 non-null  int8
 16  adults                               68213 non-null  int8
 17  children                             68213 non-null  int8
 18  babies                               68213 non-null  int8
 19  total_guests                         68213 non-null  int8
 20  avg_rooms_per_night                  68213 non-null  int8
 21  total_room_nights                    68213 non-null  int8
 22  meal                                 68213 non-null  object
 23  country                              68213 non-null  object
 24  market_segment                       68213 non-null  object
 25  distribution_channel                 68213 non-null  object
 26  previous_cancellations               68213 non-null  int8
 27  previous_bookings_not_canceled       68213 non-null  int8
 28  reserved_room_type                   68213 non-null  object
 29  assigned_room_type                   68213 non-null  object
 30  deposit_type                         68213 non-null  object
 31  days_in_waiting_list                 68213 non-null  int16
 32  customer_type                        68213 non-null  object
 33  adr                                  68213 non-null  float64
dtypes: float64(2), int16(3), int8(15), object(14)
memory usage: 10.2+ MB

In [9]:
data['total_rns'] = data['stays_in_week_nights'] + data['stays_in_weekend_nights']
data_to_transform = data[['hotel','reserved_room_type','arrival_date_transformed','total_rns','adr']]
data_to_transform

,hotel,reserved_room_type,arrival_date_transformed,total_rns,adr
2388,Resort Hotel,A,2021-07-01,1,107.42
2410,Resort Hotel,A,2021-07-01,1,134.00
2425,Resort Hotel,A,2021-07-01,1,4.00
2427,Resort Hotel,A,2021-07-01,1,134.00
2561,Resort Hotel,A,2021-07-01,1,75.00
...,...,...,...,...,...
109706,Resort Hotel,D,2023-08-24,17,84.80
109707,Resort Hotel,A,2023-08-31,10,89.75
109708,Resort Hotel,E,2023-08-29,14,153.57
109709,Resort Hotel,A,2023-08-31,14,99.06
109710,Resort Hotel,D,2023-08-31,14,112.80

In [10]:
import os
from snowflake.snowpark.session import Session
user = os.getenv("user")
warehouse = os.getenv("warehouse")
schema= os.getenv("schema")
database = os.getenv("database")
role =  os.getenv("role")
account =  os.getenv("account")
password= os.getenv("password")

connection_params = dict(user=user, 
                         password=password, 
                         account=account, 
                         warehouse=warehouse, 
                         database=database,
                         schema=schema, 
                         role=role)

session = Session.builder.configs(connection_params).create()

session.sql('use warehouse {};'.format(warehouse)).collect()

session.sql('use database {};'.format(database)).collect()

session.sql('use schema {}.{};'.format(database, schema)).collect()

[Row(status='Statement executed successfully.')]

# Create a new dataframe to store the data by stay date

In [ ]:
expanded_df = pd.DataFrame()

for _, row in data.iterrows():
    num_stay_dates = row['total_rns']
    try:
        # Create a row for each stay date
        expanded_booking = pd.DataFrame({
            'hotel': row['hotel'],
            'room_type': row['reserved_room_type'], 
            'arrival_date': pd.date_range(start=row['expected_arrival_date'], periods=num_stay_dates),
            'total_rns': 1,
            'adr': row['adr']
        })
        
        # Append the stay date information to the new dataframe
        expanded_df = pd.concat([expanded_df, expanded_booking], ignore_index=True)
    except ValueError as e:
        print(f"Error processing booking for {row['hotel']} on {row['expected_arrival_date']} : {num_stay_dates} {e}")


expanded_df

Error processing booking for City Hotel on 29-02-2022 : 1 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 1 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 1 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 1 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 1 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 1 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 1 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 1 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 1 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 2 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 2 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 2 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 2 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 2 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 2 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 2 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 2 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 4 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 4 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 4 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 4 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 4 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 4 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 4 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 4 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 4 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 4 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 4 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 4 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 4 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 5 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 6 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 10 day is out of range for month

# Sort the final dataframe by date

In [ ]:
expanded_df = expanded_df.sort_values('adr')
expanded_df = expanded_df.reset_index(drop=True)
expanded_df

# Building seasonality

In [ ]:
import holidays
holiday_dates = holidays.CountryHoliday('PT', years=[2020,2021,2022,2023])
holidays = {
    expected_arrival_date: name
    for expected_arrival_date, name in holiday_dates.items()
    if name in ['Ano Novo', 'Páscoa', 'Dia de Natal']
}

# rename holiday columns

In [ ]:
expanded_df = expanded_df.rename({'Ano Novo':'new_year','Páscoa':'easter','Dia de Natal':'christmas'},axis=1)

In [ ]:
def generate_holiday_dates(start_year, end_year):
    holidays = {}
    for year in range(start_year, end_year + 1):
        holidays[datetime.date(year, 1, 1)] = 'new_year'
        easter_date = easter(year)
        holidays[easter_date] = 'easter'
        holidays[datetime.date(year, 12, 25)] = 'christmas'
    return holidays

holidays = generate_holiday_dates(2020, 2023)

In [ ]:
holidays

In [ ]:
# Define pre and post ranges for each holiday
pre_range_offset = {'new_year': relativedelta(days=-1),
                    'easter': relativedelta(days=-2),
                    'christmas': relativedelta(days=-3)}

post_range_offset = {'new_year': relativedelta(days=1),
                     'easter': relativedelta(days=2),
                     'christmas': relativedelta(days=3)}

In [ ]:
# Create new columns for each holiday
for holiday in holidays.values():
    expanded_df[holiday] = 0
 
 # Set the holiday columns to 1 for matching dates
for arrival_date, name in holidays.items():
    expanded_df.loc[expanded_df['arrival_date'] == arrival_date, name] = 1

    # Set the holiday columns to 1 for pre and post dates
    pre_offset = pre_range_offset.get(name)
    if pre_offset:
        pre_date = pd.to_datetime(arrival_date) + pre_offset
        expanded_df.loc[expanded_df['arrival_date'] == pre_date.strftime('%Y-%m-%d'), name] = 1

    post_offset = post_range_offset.get(name)
    if post_offset:
        post_date = pd.to_datetime(arrival_date) + post_offset
        expanded_df.loc[expanded_df['arrival_date'] == post_date.strftime('%Y-%m-%d'), name] = 1

In [ ]:
##check
expanded_df.head()

In [ ]:
# Add dow, month to data
expanded_df['dow'] = expanded_df.arrival_date.dt.strftime('%A')
expanded_df['month'] = expanded_df.arrival_date.dt.strftime('%B')

In [ ]:
##check
expanded_df.head()

In [ ]:
expanded_df.shape

In [ ]:
expanded_df.info()

In [ ]:
expanded_df[expanded_df['easter'] == 0]

In [ ]:
holidays_df = expanded_df.groupby(["hotel","room_type","arrival_date"]).agg({"total_rns": sum, "adr": np.mean,     "new_year": 'max',
    "easter": 'max',
    "christmas": 'max',
    "dow": 'first',
    "month": 'first'}).reset_index()

In [ ]:
holidays_df[holidays_df['easter'] == 0]

In [ ]:
holidays_df.columns = map(lambda x: str(x).upper(), holidays_df.columns)
session.write_pandas(holidays_df, table_name="HOLIDAYS_DATASET", database=database, schema="TTH_REV_OPT_SCHEMA",  auto_create_table=True, overwrite=True)

In [ ]:
holidays_df.columns

In [ ]:
##PRICING MODEL 1 (WITHOUT HOLIDAYS)
#Remove holidays for our main model
non_holidays = expanded_df[expanded_df[['new_year', 'easter', 'christmas']].sum(axis=1) == 0]
non_holidays.head()

In [ ]:
final_dataset = pd.concat([non_holidays , holidays_df]).reset_index(drop=True)
final_dataset.to_csv("./dataset_latest.csv",index=True)

In [ ]:
holidays_df.shape

In [ ]:
def add_rns(row):
    if row['hotel'] == 'City Hotel' and row['room_type'] == 'A':
        return 406
    elif row['hotel'] == 'City Hotel' and row['room_type'] == 'D':
        return 135
    elif row['hotel'] == 'City Hotel' and row['room_type'] == 'E':
        return 30
    elif row['hotel'] == 'Resort Hotel' and row['room_type'] == 'A':
        return 360
    elif row['hotel'] == 'Resort Hotel' and row['room_type'] == 'D':
        return 125
    elif row['hotel'] == 'Resort Hotel' and row['room_type'] == 'E':

        return 100

In [ ]:
final_dataset['dummy_rns'] = 0
final_dataset['dummy_rns'] = final_dataset.apply(add_rns, axis=1)

In [ ]:
final_dataset

In [ ]:
results = pd.DataFrame(columns=['month', 'dow', 'optimal_rate', 'expected_rn','expected_rev','optimal_rate_lim_inv'])