# install libraries

In [1]:
!pip install --upgrade pip
!pip install "snowflake-connector-python[pandas]" "snowflake-snowpark-python[pandas]" snowflake-snowpark-python==1.9.0 fosforio fosforml numpy pandas matplotlib scikit-learn xgboost seaborn python-dateutil tqdm holidays
!pip install --upgrade --q snowflake-snowpark-python==1.9.0
!pip uninstall urllib3 -y
!pip install urllib3==1.26.15

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
WARNING: The directory '/home/mosaic-ai/.cache/pip' or its parent directory is not owned or is not writable by the current user. The cache has been disabled. Check the permissions and owner of that directory. If executing pip with sudo, you should use sudo's -H flag.
Collecting pip
  Downloading pip-24.1.1-py3-none-any.whl.metadata (3.6 kB)
Downloading pip-24.1.1-py3-none-any.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 28.1 MB/s eta 0:00:00 0:00:01
Installing collected packages: pip
Successfully installed pip-24.1.1
WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
WARNING: The directory '/home/mosaic-ai/.cache/pip' or its parent directory is not owned or is not writable by the current user. The cache has been disabled. Check the permissions and owner of that directory. If executing pip with sudo, you should use sudo's -H flag.
Collecting snowflake-snowpark-python==1.9.0
  Downloading snowflake_snowpark_python-1.9.0-py3-none-any.whl.metadata (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.0/44.0 kB 3.4 MB/s eta 0:00:00
Collecting fosforio
  Downloading fosforio-1.0.2-py3-none-any.whl.metadata (13 kB)
Collecting fosforml
  Downloading fosforml-1.0.1-py3-none-any.whl.metadata (1.5 kB)
Collecting numpy
  Downloading numpy-1.24.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.6 kB)
Collecting pandas
  Downloading pandas-2.0.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (18 kB)
Collecting matplotlib
  Downloading matplotlib-3.7.5-cp38-cp38-manylinux_2_12_x86_64.manylinux2010_x86_64.whl.metadata (5.7 kB)
Collecting scikit-learn
  Downloading scikit_learn-1.3.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Collecting xgboost
  Downloading xgboost-2.1.0-py3-none-manylinux_2_28_x86_64.whl.metadata (2.1 kB)
Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Collecting python-dateutil
  Downloading python_dateutil-2.9.0.post0-py2.py3-none-any.whl.metadata (8.4 kB)
Collecting tqdm
  Downloading tqdm-4.66.4-py3-none-any.whl.metadata (57 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 57.6/57.6 kB 4.7 MB/s eta 0:00:00
Collecting holidays
  Downloading holidays-0.51-py3-none-any.whl.metadata (23 kB)
Collecting snowflake-connector-python[pandas]
  Downloading snowflake_connector_python-3.11.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (63 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 63.6/63.6 kB 252.5 MB/s eta 0:00:00
Collecting setuptools>=40.6.0 (from snowflake-snowpark-python==1.9.0)
  Downloading setuptools-70.1.1-py3-none-any.whl.metadata (6.0 kB)
Collecting wheel (from snowflake-snowpark-python==1.9.0)
  Downloading wheel-0.43.0-py3-none-any.whl.metadata (2.2 kB)
Collecting typing-extensions<5.0.0,>=4.1.0 (from snowflake-snowpark-python==1.9.0)
  Downloading typing_extensions-4.12.2-py3-none-any.whl.metadata (3.0 kB)
Collecting pyyaml (from snowflake-snowpark-python==1.9.0)
  Downloading PyYAML-6.0.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (2.1 kB)
Collecting cloudpickle<=2.0.0,>=1.6.0 (from snowflake-snowpark-python==1.9.0)
  Downloading cloudpickle-2.0.0-py3-none-any.whl.metadata (6.9 kB)
Collecting asn1crypto<2.0.0,>0.24.0 (from snowflake-connector-python[pandas])
  Downloading asn1crypto-1.5.1-py2.py3-none-any.whl.metadata (13 kB)
Collecting cffi<2.0.0,>=1.9 (from snowflake-connector-python[pandas])
  Downloading cffi-1.16.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting cryptography<43.0.0,>=3.1.0 (from snowflake-connector-python[pandas])
  Downloading cryptography-42.0.8-cp37-abi3-manylinux_2_28_x86_64.whl.metadata (5.3 kB)
Collecting pyOpenSSL<25.0.0,>=16.2.0 (from snowflake-connector-python[pandas])
  Downloading pyOpenSSL-24.1.0-py3-none-any.whl.metadata (12 kB)
Collecting pyjwt<3.0.0 (from snowflake-connector-python[pandas])
  Downloading PyJWT-2.8.0-py3-none-any.whl.metadata (4.2 kB)
Collecting pytz (from snowflake-connector-python[pandas])
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting requests<3.0.0 (from snowflake-connector-python[pandas])
  Downloading requests-2.32.3-py3-none-any.whl.metadata (4.6 kB)
Collecting packaging (from snowflake-connector-python[pandas])
  Downloading packaging-24.1-py3-none-any.whl.metadata (3.2 kB)
Collecting charset-normalizer<4,>=2 (from snowflake-connector-python[pandas])
  Downloading charset_normalizer-3.3.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (33 kB)
Collecting idna<4,>=2.5 (from snowflake-connector-python[pandas])
  Downloading idna-3.7-py3-none-any.whl.metadata (9.9 kB)
Collecting certifi>=2017.4.17 (from snowflake-connector-python[pandas])
  Downloading certifi-2024.6.2-py3-none-any.whl.metadata (2.2 kB)
Collecting filelock<4,>=3.5 (from snowflake-connector-python[pandas])
  Downloading filelock-3.15.4-py3-none-any.whl.metadata (2.9 kB)
Collecting sortedcontainers>=2.4.0 (from snowflake-connector-python[pandas])
  Downloading sortedcontainers-2.4.0-py2.py3-none-any.whl.metadata (10 kB)
Collecting platformdirs<5.0.0,>=2.6.0 (from snowflake-connector-python[pandas])
  Downloading platformdirs-4.2.2-py3-none-any.whl.metadata (11 kB)
Collecting tomlkit (from snowflake-connector-python[pandas])
  Downloading tomlkit-0.12.5-py3-none-any.whl.metadata (2.7 kB)
Collecting urllib3<2.0.0,>=1.21.1 (from snowflake-connector-python[pandas])
  Downloading urllib3-1.26.19-py2.py3-none-any.whl.metadata (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.3/49.3 kB 218.0 MB/s eta 0:00:00
Collecting pyarrow (from snowflake-connector-python[pandas])
  Downloading pyarrow-16.1.0-cp38-cp38-manylinux_2_28_x86_64.whl.metadata (3.0 kB)
Collecting pandas
  Downloading pandas-2.0.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (18 kB)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
INFO: pip is looking at multiple versions of fosforml to determine which version is compatible with other requirements. This could take a while.
Collecting fosforml
  Downloading fosforml-1.0.0-py3-none-any.whl.metadata (1.4 kB)
Collecting cloudpickle<=2.0.0,>=1.6.0 (from snowflake-snowpark-python==1.9.0)
  Downloading cloudpickle-1.6.0-py3-none-any.whl.metadata (4.3 kB)
Collecting requests-toolbelt==0.9.1 (from fosforml)
  Downloading requests_toolbelt-0.9.1-py2.py3-none-any.whl.metadata (13 kB)
Collecting shutils==0.1.0 (from fosforml)
  Downloading shutils-0.1.0.tar.gz (2.3 kB)
  Preparing metadata (setup.py) ... done
Collecting pyyaml (from snowflake-snowpark-python==1.9.0)
  Downloading PyYAML-6.0-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl.metadata (2.0 kB)
Collecting mosaic-utils (from fosforml)
  Downloading mosaic_utils-1.0.2-py2.py3-none-any.whl.metadata (10 kB)
Collecting urllib3<2.0.0,>=1.21.1 (from snowflake-connector-python[pandas])
  Downloading urllib3-1.26.15-py2.py3-none-any.whl.metadata (48 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 48.1/48.1 kB 240.3 MB/s eta 0:00:00
Collecting configparser (from shutils==0.1.0->fosforml)
  Downloading configparser-7.0.0-py3-none-any.whl.metadata (5.4 kB)
Collecting pymysql (from shutils==0.1.0->fosforml)
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)

Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.1.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.9 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.53.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (162 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 162.2/162.2 kB 14.7 MB/s eta 0:00:00
Collecting kiwisolver>=1.0.1 (from matplotlib)
  Downloading kiwisolver-1.4.5-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl.metadata (6.4 kB)
Collecting pillow>=6.2.0 (from matplotlib)
  Downloading pillow-10.3.0-cp38-cp38-manylinux_2_28_x86_64.whl.metadata (9.2 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.1.2-py3-none-any.whl.metadata (5.1 kB)
Collecting importlib-resources>=3.2.0 (from matplotlib)
  Downloading importlib_resources-6.4.0-py3-none-any.whl.metadata (3.9 kB)
Collecting scipy>=1.5.0 (from scikit-learn)
  Downloading scipy-1.10.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.9/58.9 kB 255.7 MB/s eta 0:00:00
Collecting joblib>=1.1.1 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Collecting nvidia-nccl-cu12 (from xgboost)
  Downloading nvidia_nccl_cu12-2.22.3-py3-none-manylinux2014_x86_64.whl.metadata (1.8 kB)
Collecting six>=1.5 (from python-dateutil)
  Downloading six-1.16.0-py2.py3-none-any.whl.metadata (1.8 kB)
Collecting pycparser (from cffi<2.0.0,>=1.9->snowflake-connector-python[pandas])
  Downloading pycparser-2.22-py3-none-any.whl.metadata (943 bytes)
Collecting zipp>=3.1.0 (from importlib-resources>=3.2.0->matplotlib)
  Downloading zipp-3.19.2-py3-none-any.whl.metadata (3.6 kB)
Collecting scikit-learn
  Downloading scikit_learn-1.2.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Downloading snowflake_snowpark_python-1.9.0-py3-none-any.whl (327 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 327.5/327.5 kB 40.9 MB/s eta 0:00:00
Downloading fosforio-1.0.2-py3-none-any.whl (20 kB)
Downloading pandas-2.0.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.3/12.3 MB 212.6 MB/s eta 0:00:00 0:00:01
Downloading fosforml-1.0.0-py3-none-any.whl (42 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.4/42.4 kB 216.9 MB/s eta 0:00:00
Downloading cloudpickle-1.6.0-py3-none-any.whl (23 kB)
Downloading PyYAML-6.0-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (701 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 701.2/701.2 kB 339.9 MB/s eta 0:00:00
Downloading requests_toolbelt-0.9.1-py2.py3-none-any.whl (54 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 54.3/54.3 kB 254.4 MB/s eta 0:00:00
Downloading urllib3-1.26.15-py2.py3-none-any.whl (140 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 140.9/140.9 kB 319.1 MB/s eta 0:00:00
Downloading numpy-1.24.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.3/17.3 MB 258.8 MB/s eta 0:00:00a 0:00:01
Downloading matplotlib-3.7.5-cp38-cp38-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (9.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.2/9.2 MB 221.9 MB/s eta 0:00:00a 0:00:01
Downloading xgboost-2.1.0-py3-none-manylinux_2_28_x86_64.whl (153.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 153.9/153.9 MB 158.3 MB/s eta 0:00:00a 0:00:01
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 294.9/294.9 kB 336.7 MB/s eta 0:00:00
Downloading python_dateutil-2.9.0.post0-py2.py3-none-any.whl (229 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 229.9/229.9 kB 334.3 MB/s eta 0:00:00
Downloading tqdm-4.66.4-py3-none-any.whl (78 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.3/78.3 kB 270.1 MB/s eta 0:00:00
Downloading holidays-0.51-py3-none-any.whl (1.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 292.6 MB/s eta 0:00:00
Downloading asn1crypto-1.5.1-py2.py3-none-any.whl (105 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 105.0/105.0 kB 298.4 MB/s eta 0:00:00
Downloading certifi-2024.6.2-py3-none-any.whl (164 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 164.4/164.4 kB 313.3 MB/s eta 0:00:00
Downloading cffi-1.16.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (444 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 444.7/444.7 kB 329.4 MB/s eta 0:00:00
Downloading charset_normalizer-3.3.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (141 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 141.1/141.1 kB 296.4 MB/s eta 0:00:00
Downloading contourpy-1.1.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (301 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 301.1/301.1 kB 332.6 MB/s eta 0:00:00
Downloading cryptography-42.0.8-cp37-abi3-manylinux_2_28_x86_64.whl (3.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.9/3.9 MB 160.3 MB/s eta 0:00:00
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading filelock-3.15.4-py3-none-any.whl (16 kB)
Downloading fonttools-4.53.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.7/4.7 MB 158.9 MB/s eta 0:00:00
Downloading idna-3.7-py3-none-any.whl (66 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 66.8/66.8 kB 244.2 MB/s eta 0:00:00
Downloading importlib_resources-6.4.0-py3-none-any.whl (38 kB)
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 301.8/301.8 kB 332.7 MB/s eta 0:00:00
Downloading kiwisolver-1.4.5-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl (1.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 312.5 MB/s eta 0:00:00
Downloading packaging-24.1-py3-none-any.whl (53 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 54.0/54.0 kB 236.9 MB/s eta 0:00:00
Downloading pillow-10.3.0-cp38-cp38-manylinux_2_28_x86_64.whl (4.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.5/4.5 MB 166.2 MB/s eta 0:00:00
Downloading platformdirs-4.2.2-py3-none-any.whl (18 kB)
Downloading PyJWT-2.8.0-py3-none-any.whl (22 kB)
Downloading pyOpenSSL-24.1.0-py3-none-any.whl (56 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 56.9/56.9 kB 224.0 MB/s eta 0:00:00
Downloading pyparsing-3.1.2-py3-none-any.whl (103 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 103.2/103.2 kB 278.8 MB/s eta 0:00:00
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 505.5/505.5 kB 339.4 MB/s eta 0:00:00
Downloading requests-2.32.3-py3-none-any.whl (64 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 64.9/64.9 kB 258.5 MB/s eta 0:00:00

Downloading scipy-1.10.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (34.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.5/34.5 MB 158.1 MB/s eta 0:00:00a 0:00:01
Downloading setuptools-70.1.1-py3-none-any.whl (883 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 883.3/883.3 kB 337.0 MB/s eta 0:00:00
Downloading six-1.16.0-py2.py3-none-any.whl (11 kB)
Downloading snowflake_connector_python-3.11.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.5/2.5 MB 178.5 MB/s eta 0:00:00
Downloading sortedcontainers-2.4.0-py2.py3-none-any.whl (29 kB)
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Downloading typing_extensions-4.12.2-py3-none-any.whl (37 kB)
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 345.4/345.4 kB 265.0 MB/s eta 0:00:00
Downloading mosaic_utils-1.0.2-py2.py3-none-any.whl (70 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 70.4/70.4 kB 255.8 MB/s eta 0:00:00
Downloading scikit_learn-1.2.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.8/9.8 MB 121.2 MB/s eta 0:00:00a 0:00:01
Downloading nvidia_nccl_cu12-2.22.3-py3-none-manylinux2014_x86_64.whl (190.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 190.9/190.9 MB 64.3 MB/s eta 0:00:0000:0100:01
Downloading pyarrow-16.1.0-cp38-cp38-manylinux_2_28_x86_64.whl (40.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.9/40.9 MB 50.5 MB/s eta 0:00:0000:0100:01
Downloading tomlkit-0.12.5-py3-none-any.whl (37 kB)
Downloading wheel-0.43.0-py3-none-any.whl (65 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 65.8/65.8 kB 260.0 MB/s eta 0:00:00
Downloading zipp-3.19.2-py3-none-any.whl (9.0 kB)
Downloading configparser-7.0.0-py3-none-any.whl (16 kB)
Downloading pycparser-2.22-py3-none-any.whl (117 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 117.6/117.6 kB 195.7 MB/s eta 0:00:00
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 157.5 MB/s eta 0:00:00
Building wheels for collected packages: shutils
  Building wheel for shutils (setup.py) ... done
  Created wheel for shutils: filename=shutils-0.1.0-py3-none-any.whl size=3273 sha256=0883bd92e5af5e18c8a1c4e60ad1d567fd99297d58f14c04626f1a23e8ab3171
  Stored in directory: /tmp/pip-ephem-wheel-cache-tip0ct2s/wheels/c7/06/1a/4df9f03d511efd19a10f2086f67c38cf14757b555f4f24bd6e
Successfully built shutils
Installing collected packages: sortedcontainers, pytz, asn1crypto, zipp, wheel, urllib3, tzdata, typing-extensions, tqdm, tomlkit, threadpoolctl, six, setuptools, pyyaml, pyparsing, pymysql, pyjwt, pycparser, platformdirs, pillow, packaging, nvidia-nccl-cu12, numpy, kiwisolver, joblib, idna, fonttools, filelock, cycler, configparser, cloudpickle, charset-normalizer, certifi, shutils, scipy, requests, python-dateutil, pyarrow, importlib-resources, contourpy, cffi, xgboost, scikit-learn, requests-toolbelt, pandas, matplotlib, holidays, cryptography, seaborn, pyOpenSSL, mosaic-utils, fosforio, snowflake-connector-python, fosforml, snowflake-snowpark-python
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
mlflow 2.10.0 requires packaging<24, but you have packaging 24.1 which is incompatible.
mlflow 2.10.0 requires pyarrow<16,>=4.0.0, but you have pyarrow 16.1.0 which is incompatible.
mlflow 2.10.0 requires pytz<2024, but you have pytz 2024.1 which is incompatible.
jupyterlab 3.2.4 requires jupyter-server~=1.4, but you have jupyter-server 2.0.0a1 which is incompatible.
jupyterlab-server 2.25.4 requires jsonschema>=4.18.0, but you have jsonschema 3.2.0 which is incompatible.
mosaic-ai-client 1.0.0 requires matplotlib==3.1.1, but you have matplotlib 3.7.5 which is incompatible.
mosaic-ai-serving 1.0.0 requires Flask==2.1.1; python_version >= "3.7", but you have flask 2.3.3 which is incompatible.
mosaic-ai-serving 1.0.0 requires itsdangerous==2.0.1, but you have itsdangerous 2.2.0 which is incompatible.
mosaic-ai-serving 1.0.0 requires Jinja2==3.0.3, but you have jinja2 3.1.4 which is incompatible.
mosaic-ai-serving 1.0.0 requires matplotlib==3.6.0; python_version >= "3.8", but you have matplotlib 3.7.5 which is incompatible.
openapi-schema-validator 0.6.2 requires jsonschema<5.0.0,>=4.19.1, but you have jsonschema 3.2.0 which is incompatible.
openapi-spec-validator 0.7.1 requires jsonschema<5.0.0,>=4.18.0, but you have jsonschema 3.2.0 which is incompatible.
snowflake-ml-python 1.0.1 requires cryptography<39.0.0,>=3.1.0, but you have cryptography 42.0.8 which is incompatible.
snowflake-ml-python 1.0.1 requires packaging<24,>=20.9, but you have packaging 24.1 which is incompatible.
snowflake-ml-python 1.0.1 requires pandas<2,>=1.0.0, but you have pandas 2.0.0 which is incompatible.
snowflake-ml-python 1.0.1 requires xgboost<2,>=1.7.3, but you have xgboost 2.1.0 which is incompatible.
Successfully installed asn1crypto-1.5.1 certifi-2024.6.2 cffi-1.16.0 charset-normalizer-3.3.2 cloudpickle-1.6.0 configparser-7.0.0 contourpy-1.1.1 cryptography-42.0.8 cycler-0.12.1 filelock-3.15.4 fonttools-4.53.0 fosforio-1.0.2 fosforml-1.0.0 holidays-0.51 idna-3.7 importlib-resources-6.4.0 joblib-1.4.2 kiwisolver-1.4.5 matplotlib-3.7.5 mosaic-utils-1.0.2 numpy-1.24.4 nvidia-nccl-cu12-2.22.3 packaging-24.1 pandas-2.0.0 pillow-10.3.0 platformdirs-4.2.2 pyOpenSSL-24.1.0 pyarrow-16.1.0 pycparser-2.22 pyjwt-2.8.0 pymysql-1.1.1 pyparsing-3.1.2 python-dateutil-2.9.0.post0 pytz-2024.1 pyyaml-6.0 requests-2.32.3 requests-toolbelt-0.9.1 scikit-learn-1.2.1 scipy-1.10.1 seaborn-0.13.2 setuptools-70.1.1 shutils-0.1.0 six-1.16.0 snowflake-connector-python-3.11.0 snowflake-snowpark-python-1.9.0 sortedcontainers-2.4.0 threadpoolctl-3.5.0 tomlkit-0.12.5 tqdm-4.66.4 typing-extensions-4.12.2 tzdata-2024.1 urllib3-1.26.15 wheel-0.43.0 xgboost-2.1.0 zipp-3.19.2
WARNING: Target directory /tmp/pip_packages/sortedcontainers already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/sortedcontainers-2.4.0.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/pytz already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/pytz-2024.1.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/asn1crypto already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/asn1crypto-1.5.1.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/zipp already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/zipp-3.19.2.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/wheel already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/wheel-0.43.0.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/urllib3 already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/urllib3-1.26.15.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/tzdata already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/tzdata-2024.1.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/typing_extensions.py already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/typing_extensions-4.12.2.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/__pycache__ already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/tqdm already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/tqdm-4.66.4.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/tomlkit already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/tomlkit-0.12.5.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/threadpoolctl.py already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/threadpoolctl-3.5.0.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/six.py already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/six-1.16.0.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/distutils-precedence.pth already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/_distutils_hack already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/pkg_resources already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/setuptools already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/setuptools-70.1.1.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/PyYAML-6.0.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/_yaml already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/yaml already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/pyparsing already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/pyparsing-3.1.2.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/pymysql already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/PyMySQL-1.1.1.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/jwt already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/PyJWT-2.8.0.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/pycparser already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/pycparser-2.22.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/platformdirs already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/platformdirs-4.2.2.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/pillow.libs already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/PIL already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/pillow-10.3.0.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/packaging already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/packaging-24.1.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/nvidia already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/nvidia_nccl_cu12-2.22.3.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/numpy.libs already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/numpy-1.24.4.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/numpy already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/kiwisolver-1.4.5.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/kiwisolver already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/joblib already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/joblib-1.4.2.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/idna already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/idna-3.7.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/fontTools already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/fonttools-4.53.0.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/filelock already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/filelock-3.15.4.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/cycler already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/cycler-0.12.1.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/backports already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/configparser-7.0.0.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/cloudpickle already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/cloudpickle-1.6.0.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/charset_normalizer already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/charset_normalizer-3.3.2.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/certifi already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/certifi-2024.6.2.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/shutils already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/shutils-0.1.0.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/scipy already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/scipy.libs already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/scipy-1.10.1.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/requests already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/requests-2.32.3.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/dateutil already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/python_dateutil-2.9.0.post0.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/pyarrow already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/pyarrow-16.1.0.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/importlib_resources already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/importlib_resources-6.4.0.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/contourpy-1.1.1.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/contourpy already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/_cffi_backend.cpython-38-x86_64-linux-gnu.so already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/cffi already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/cffi-1.16.0.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/xgboost already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/xgboost-2.1.0.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/xgboost.libs already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/sklearn already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/scikit_learn.libs already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/scikit_learn-1.2.1.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/requests_toolbelt already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/requests_toolbelt-0.9.1.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/pandas-2.0.0.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/pandas already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/matplotlib-3.7.5-py3.8-nspkg.pth already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/pylab.py already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/matplotlib-3.7.5.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/mpl_toolkits already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/matplotlib already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/holidays already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/holidays-0.51.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/cryptography already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/cryptography-42.0.8.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/seaborn already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/seaborn-0.13.2.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/OpenSSL already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/pyOpenSSL-24.1.0.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/mosaic_utils already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/mosaic_utils-1.0.2.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/fosforio already exists. Specify --upgrade to force replacement.
WARNING: Target directory /tmp/pip_packages/fosforio-1.0.2.dist-info already exists. Specify --upgrade to force replacement.

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
WARNING: The directory '/home/mosaic-ai/.cache/pip' or its parent directory is not owned or is not writable by the current user. The cache has been disabled. Check the permissions and owner of that directory. If executing pip with sudo, you should use sudo's -H flag.
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
mlflow 2.10.0 requires packaging<24, but you have packaging 24.1 which is incompatible.
mlflow 2.10.0 requires pytz<2024, but you have pytz 2024.1 which is incompatible.
fosforml 1.0.0 requires cloudpickle==1.6.0, but you have cloudpickle 2.0.0 which is incompatible.
fosforml 1.0.0 requires PyYAML==6.0, but you have pyyaml 6.0.1 which is incompatible.
fosforml 1.0.0 requires urllib3==1.26.15, but you have urllib3 1.26.19 which is incompatible.
jupyterlab 3.2.4 requires jupyter-server~=1.4, but you have jupyter-server 2.0.0a1 which is incompatible.
jupyterlab-server 2.25.4 requires jsonschema>=4.18.0, but you have jsonschema 3.2.0 which is incompatible.
mosaic-ai-client 1.0.0 requires matplotlib==3.1.1, but you have matplotlib 3.7.5 which is incompatible.
mosaic-ai-serving 1.0.0 requires Flask==2.1.1; python_version >= "3.7", but you have flask 2.3.3 which is incompatible.
mosaic-ai-serving 1.0.0 requires itsdangerous==2.0.1, but you have itsdangerous 2.2.0 which is incompatible.
mosaic-ai-serving 1.0.0 requires Jinja2==3.0.3, but you have jinja2 3.1.4 which is incompatible.
mosaic-ai-serving 1.0.0 requires matplotlib==3.6.0; python_version >= "3.8", but you have matplotlib 3.7.5 which is incompatible.
openapi-schema-validator 0.6.2 requires jsonschema<5.0.0,>=4.19.1, but you have jsonschema 3.2.0 which is incompatible.
openapi-spec-validator 0.7.1 requires jsonschema<5.0.0,>=4.18.0, but you have jsonschema 3.2.0 which is incompatible.
snowflake-ml-python 1.0.1 requires cryptography<39.0.0,>=3.1.0, but you have cryptography 42.0.8 which is incompatible.
snowflake-ml-python 1.0.1 requires packaging<24,>=20.9, but you have packaging 24.1 which is incompatible.
snowflake-ml-python 1.0.1 requires pandas<2,>=1.0.0, but you have pandas 2.0.0 which is incompatible.
snowflake-ml-python 1.0.1 requires xgboost<2,>=1.7.3, but you have xgboost 2.0.3 which is incompatible.
WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
WARNING: The directory '/home/mosaic-ai/.cache/pip' or its parent directory is not owned or is not writable by the current user. The cache has been disabled. Check the permissions and owner of that directory. If executing pip with sudo, you should use sudo's -H flag.
Found existing installation: urllib3 1.26.15
Uninstalling urllib3-1.26.15:
  Successfully uninstalled urllib3-1.26.15
WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
WARNING: The directory '/home/mosaic-ai/.cache/pip' or its parent directory is not owned or is not writable by the current user. The cache has been disabled. Check the permissions and owner of that directory. If executing pip with sudo, you should use sudo's -H flag.
Collecting urllib3==1.26.15
  Downloading urllib3-1.26.15-py2.py3-none-any.whl.metadata (48 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 48.1/48.1 kB 3.4 MB/s eta 0:00:00
Downloading urllib3-1.26.15-py2.py3-none-any.whl (140 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 140.9/140.9 kB 5.6 MB/s eta 0:00:00
Installing collected packages: urllib3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
fosforml 1.0.0 requires cloudpickle==1.6.0, but you have cloudpickle 2.2.1 which is incompatible.
fosforml 1.0.0 requires PyYAML==6.0, but you have pyyaml 6.0.1 which is incompatible.
snowflake-snowpark-python 1.9.0 requires cloudpickle<=2.0.0,>=1.6.0; python_version < "3.11", but you have cloudpickle 2.2.1 which is incompatible.
jupyterlab-server 2.25.4 requires jsonschema>=4.18.0, but you have jsonschema 3.2.0 which is incompatible.
mosaic-ai-client 1.0.0 requires matplotlib==3.1.1, but you have matplotlib 3.7.5 which is incompatible.
openapi-spec-validator 0.7.1 requires jsonschema<5.0.0,>=4.18.0, but you have jsonschema 3.2.0 which is incompatible.
snowflake-ml-python 1.0.1 requires cryptography<39.0.0,>=3.1.0, but you have cryptography 42.0.8 which is incompatible.
snowflake-ml-python 1.0.1 requires pandas<2,>=1.0.0, but you have pandas 2.0.0 which is incompatible.
snowflake-ml-python 1.0.1 requires xgboost<2,>=1.7.3, but you have xgboost 2.0.3 which is incompatible.
Successfully installed urllib3-1.26.15
WARNING: Target directory /tmp/pip_packages/urllib3 already exists. Specify --upgrade to force replacement.

# Import helper libraries

In [2]:
from fosforio import snowflake
from fosforml import *
from fosforml.constants import MLModelFlavours
from fosforio import get_dataframe
from matplotlib import pyplot as plt
import pandas as pd
pd.set_option('display.max_columns', 500)
import seaborn as sns
from sklearn.metrics import mean_absolute_percentage_error
import numpy as np
import warnings; warnings.simplefilter('ignore')
from joblib import dump, load
import requests
from tqdm import tqdm
import time
import calendar

from time import sleep
import configparser
from dateutil.relativedelta import relativedelta
import datetime
from dateutil.easter import easter
%matplotlib inline

Connection manager service url initialised to http://fdc-project-manager:80/project-manager
If you need to update its value then update the variable CONNECTION_MANAGER_BASE_URL in os env.

/tmp/pip_packages/_distutils_hack/__init__.py:26: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")
Matplotlib created a temporary cache directory at /tmp/matplotlib-dlk_7np7 because the default path (/home/mosaic-ai/.cache/matplotlib) is not a writable directory; it is highly recommended to set the MPLCONFIGDIR environment variable to a writable directory, in particular to speed up the import of Matplotlib and to better support multiprocessing.

# connect to snowflake

In [3]:
snowflake.get_connection(connection_name="TTH_REV_OPT_CXN")
data = get_dataframe("BOOKINGS_TRANSFORMED")
data

Connection object created: <snowflake.connector.connection.SnowflakeConnection object at 0x7f90701862b0>
Please close the connection after use!
Reading dataframe from snowflake native connector

,ARRIVAL_DATE_TRANSFORMED,RESERVATION_STATUS_DATE_TRANSFORMED,HOTEL,IS_CANCELED,LEAD_TIME,ARRIVAL_DATE_YEAR,MONTH,ARRIVAL_DATE_WEEK_NUMBER,ARRIVAL_DATE_DAY_OF_MONTH,EXPECTED_ARRIVAL_DATE,RESERVATION_STATUS,RESERVATION_STATUS_DATE,TOTAL_STAY_NIGHTS,TALLY_DAYS,STAYS_IN_WEEKEND_NIGHTS,STAYS_IN_WEEK_NIGHTS,ADULTS,CHILDREN,BABIES,TOTAL_GUESTS,AVG_ROOMS_PER_NIGHT,TOTAL_ROOM_NIGHTS,MEAL,COUNTRY,MARKET_SEGMENT,DISTRIBUTION_CHANNEL,PREVIOUS_CANCELLATIONS,PREVIOUS_BOOKINGS_NOT_CANCELED,RESERVED_ROOM_TYPE,ASSIGNED_ROOM_TYPE,DEPOSIT_TYPE,DAYS_IN_WAITING_LIST,CUSTOMER_TYPE,ADR
0,2021-07-16,2020-10-17,City Hotel,1,272,2021,7,29,16,16-07-2021,Canceled,17-10-2020,2,0.272,0,2,2,0,0,2,1,2,BB,PRT,Groups,TA/TO,1,0,A,A,No Deposit,0,Transient.Party,62.80
1,2021-08-20,2020-10-17,City Hotel,1,307,2021,8,34,20,20-08-2021,Canceled,17-10-2020,2,0.307,0,2,2,0,0,2,1,2,BB,PRT,Groups,TA/TO,1,0,A,A,No Deposit,0,Transient.Party,62.80
2,2021-07-02,2020-10-17,City Hotel,1,258,2021,7,27,2,02-07-2021,Canceled,17-10-2020,2,0.258,0,2,2,0,0,2,1,2,BB,PRT,Groups,TA/TO,1,0,A,A,No Deposit,0,Transient.Party,62.80
3,2021-08-20,2020-10-17,City Hotel,1,307,2021,8,34,20,20-08-2021,Canceled,17-10-2020,2,0.307,0,2,2,0,0,2,1,2,BB,PRT,Groups,TA/TO,1,0,A,A,No Deposit,0,Transient.Party,62.80
4,2021-07-23,2020-10-17,City Hotel,1,279,2021,7,30,23,23-07-2021,Canceled,17-10-2020,2,0.279,0,2,2,0,0,2,1,2,BB,PRT,Groups,TA/TO,1,0,A,A,No Deposit,0,Transient.Party,62.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109706,2023-08-24,2023-09-10,Resort Hotel,0,269,2023,8,34,24,24-08-2023,Check.Out,10-09-2023,17,17.000,4,13,2,0,0,2,1,17,BB,GBR,Offline TA/TO,TA/TO,0,0,D,D,No Deposit,0,Contract,84.80
109707,2023-08-31,2023-09-10,Resort Hotel,0,212,2023,8,35,31,31-08-2023,Check.Out,10-09-2023,10,10.000,2,8,2,1,0,3,1,10,BB,GBR,Offline TA/TO,TA/TO,0,0,A,A,No Deposit,0,Transient,89.75
109708,2023-08-29,2023-09-12,Resort Hotel,0,204,2023,8,35,29,29-08-2023,Check.Out,12-09-2023,14,14.000,4,10,2,0,0,2,1,14,BB,IRL,Direct,Direct,0,0,E,E,No Deposit,0,Transient,153.57
109709,2023-08-31,2023-09-14,Resort Hotel,0,161,2023,8,35,31,31-08-2023,Check.Out,14-09-2023,14,14.000,4,10,2,0,0,2,1,14,HB,DEU,Offline TA/TO,TA/TO,0,0,A,A,No Deposit,0,Transient,99.06
109710,2023-08-31,2023-09-14,Resort Hotel,0,211,2023,8,35,31,31-08-2023,Check.Out,14-09-2023,14,14.000,4,10,2,0,0,2,1,14,HB,GBR,Offline TA/TO,TA/TO,0,0,D,D,No Deposit,0,Contract,112.80

In [4]:
data.columns = [x.lower() for x in data.columns]

In [5]:
data.columns

Index(['arrival_date_transformed', 'reservation_status_date_transformed',
       'hotel', 'is_canceled', 'lead_time', 'arrival_date_year', 'month',
       'arrival_date_week_number', 'arrival_date_day_of_month',
       'expected_arrival_date', 'reservation_status',
       'reservation_status_date', 'total_stay_nights', 'tally_days',
       'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children',
       'babies', 'total_guests', 'avg_rooms_per_night', 'total_room_nights',
       'meal', 'country', 'market_segment', 'distribution_channel',
       'previous_cancellations', 'previous_bookings_not_canceled',
       'reserved_room_type', 'assigned_room_type', 'deposit_type',
       'days_in_waiting_list', 'customer_type', 'adr'],
      dtype='object')

# removing Canceletions and no-shows and keep City hotel data only

In [6]:
df = data[(data['is_canceled'] == 0) & (data['reservation_status'] !='No-Show')] 
df

,arrival_date_transformed,reservation_status_date_transformed,hotel,is_canceled,lead_time,arrival_date_year,month,arrival_date_week_number,arrival_date_day_of_month,expected_arrival_date,reservation_status,reservation_status_date,total_stay_nights,tally_days,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,total_guests,avg_rooms_per_night,total_room_nights,meal,country,market_segment,distribution_channel,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,deposit_type,days_in_waiting_list,customer_type,adr
2388,2021-07-01,2021-07-02,Resort Hotel,0,0,2021,7,27,1,01-07-2021,Check.Out,02-07-2021,1,1.0,0,1,2,0,0,2,1,1,BB,FRA,Corporate,Corporate,0,0,A,G,No Deposit,0,Transient,107.42
2410,2021-07-01,2021-07-02,Resort Hotel,0,1,2021,7,27,1,01-07-2021,Check.Out,02-07-2021,1,1.0,0,1,1,0,0,1,1,1,BB,PRT,Corporate,Corporate,0,4,A,B,No Deposit,0,Transient,134.00
2425,2021-07-01,2021-07-02,Resort Hotel,0,2,2021,7,27,1,01-07-2021,Check.Out,02-07-2021,1,1.0,0,1,1,0,0,1,1,1,BB,PRT,Online TA,TA/TO,0,1,A,C,No Deposit,0,Transient,4.00
2427,2021-07-01,2021-07-02,Resort Hotel,0,4,2021,7,27,1,01-07-2021,Check.Out,02-07-2021,1,1.0,0,1,1,0,0,1,1,1,BB,PRT,Corporate,Corporate,0,4,A,C,No Deposit,0,Transient,134.00
2561,2021-07-01,2021-07-02,Resort Hotel,0,13,2021,7,27,1,01-07-2021,Check.Out,02-07-2021,1,1.0,0,1,1,0,0,1,1,1,BB,GBR,Corporate,Corporate,0,0,A,A,No Deposit,0,Transient,75.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109706,2023-08-24,2023-09-10,Resort Hotel,0,269,2023,8,34,24,24-08-2023,Check.Out,10-09-2023,17,17.0,4,13,2,0,0,2,1,17,BB,GBR,Offline TA/TO,TA/TO,0,0,D,D,No Deposit,0,Contract,84.80
109707,2023-08-31,2023-09-10,Resort Hotel,0,212,2023,8,35,31,31-08-2023,Check.Out,10-09-2023,10,10.0,2,8,2,1,0,3,1,10,BB,GBR,Offline TA/TO,TA/TO,0,0,A,A,No Deposit,0,Transient,89.75
109708,2023-08-29,2023-09-12,Resort Hotel,0,204,2023,8,35,29,29-08-2023,Check.Out,12-09-2023,14,14.0,4,10,2,0,0,2,1,14,BB,IRL,Direct,Direct,0,0,E,E,No Deposit,0,Transient,153.57
109709,2023-08-31,2023-09-14,Resort Hotel,0,161,2023,8,35,31,31-08-2023,Check.Out,14-09-2023,14,14.0,4,10,2,0,0,2,1,14,HB,DEU,Offline TA/TO,TA/TO,0,0,A,A,No Deposit,0,Transient,99.06
109710,2023-08-31,2023-09-14,Resort Hotel,0,211,2023,8,35,31,31-08-2023,Check.Out,14-09-2023,14,14.0,4,10,2,0,0,2,1,14,HB,GBR,Offline TA/TO,TA/TO,0,0,D,D,No Deposit,0,Contract,112.80

In [7]:
df.groupby(['hotel','market_segment','reserved_room_type']).agg({'adr':'mean','reservation_status_date_transformed':'count'})

                                                       adr  \
hotel        market_segment reserved_room_type
City Hotel   Aviation       A                    96.503608
                            D                   107.713951
                            E                   159.250000
             Complementary  A                    45.840909
                            D                    25.000000
                            E                    55.000000
             Corporate      A                    80.056789
                            D                   100.689130
                            E                   114.798295
             Direct         A                   107.756930
                            D                   132.383522
                            E                   164.454444
             Groups         A                    86.892940
                            D                    87.340441
                            E                    80.000000
             Offline TA/TO  A                    91.273987
                            D                    90.301959
                            E                   133.371644
             Online TA      A                   106.477667
                            D                   136.476930
                            E                   169.355059
Resort Hotel Complementary  A                    21.226923
                            D                    41.216667
                            E                     7.333333
             Corporate      A                    49.700175
                            D                    67.398478
                            E                    61.588545
             Direct         A                    84.610434
                            D                   116.982329
                            E                   118.980300
             Groups         A                    67.339807
                            D                    74.881529
                            E                    87.092028
             Offline TA/TO  A                    64.219800
                            D                    85.303927
                            E                    97.511393
             Online TA      A                    90.874218
                            D                   113.257346
                            E                   117.962164

                                                reservation_status_date_transformed
hotel        market_segment reserved_room_type
City Hotel   Aviation       A                                                    97
                            D                                                    81
                            E                                                     2
             Complementary  A                                                    22
                            D                                                     4
                            E                                                     2
             Corporate      A                                                  2074
                            D                                                   138
                            E                                                    88
             Direct         A                                                  3147
                            D                                                   900
                            E                                                   405
             Groups         A                                                  4132
                            D                                                    68
                            E                                                     2
             Offline TA/TO  A                                                  8457
                            D                                                   735
                            E                                                    73
             Online TA      A                                                 16496
                            D                                                  5566
                            E                                                   427
Resort Hotel Complementary  A                                                    13
                            D                                                     3
                            E                                                     3
             Corporate      A                                                  1776
                            D                                                    46
                            E                                                    55
             Direct         A                                                  2486
                            D                                                   966
                            E                                                   801
             Groups         A                                                  2593
                            D                                                   399
                            E                                                   217
             Offline TA/TO  A                                                  3654
                            D                                                  1752
                            E                                                   725
             Online TA      A                                                  5960
                            D                                                  2204
                            E                                                  1691

In [8]:
data = df[(df.market_segment != 'Complementary') ]
data = data[(data.reserved_room_type == 'A') |(data.reserved_room_type == 'D') | (data.reserved_room_type == 'E')]
data.reserved_room_type.value_counts()

reserved_room_type
A    50872
D    12855
E     4486
Name: count, dtype: int64

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 68213 entries, 2388 to 109710
Data columns (total 34 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   arrival_date_transformed             68213 non-null  object
 1   reservation_status_date_transformed  68213 non-null  object
 2   hotel                                68213 non-null  object
 3   is_canceled                          68213 non-null  int8
 4   lead_time                            68213 non-null  int16
 5   arrival_date_year                    68213 non-null  int16
 6   month                                68213 non-null  int8
 7   arrival_date_week_number             68213 non-null  int8
 8   arrival_date_day_of_month            68213 non-null  int8
 9   expected_arrival_date                68213 non-null  object
 10  reservation_status                   68213 non-null  object
 11  reservation_status_date              68213 non-null  object
 12  total_stay_nights                    68213 non-null  int8
 13  tally_days                           68213 non-null  float64
 14  stays_in_weekend_nights              68213 non-null  int8
 15  stays_in_week_nights                 68213 non-null  int8
 16  adults                               68213 non-null  int8
 17  children                             68213 non-null  int8
 18  babies                               68213 non-null  int8
 19  total_guests                         68213 non-null  int8
 20  avg_rooms_per_night                  68213 non-null  int8
 21  total_room_nights                    68213 non-null  int8
 22  meal                                 68213 non-null  object
 23  country                              68213 non-null  object
 24  market_segment                       68213 non-null  object
 25  distribution_channel                 68213 non-null  object
 26  previous_cancellations               68213 non-null  int8
 27  previous_bookings_not_canceled       68213 non-null  int8
 28  reserved_room_type                   68213 non-null  object
 29  assigned_room_type                   68213 non-null  object
 30  deposit_type                         68213 non-null  object
 31  days_in_waiting_list                 68213 non-null  int16
 32  customer_type                        68213 non-null  object
 33  adr                                  68213 non-null  float64
dtypes: float64(2), int16(3), int8(15), object(14)
memory usage: 10.2+ MB

In [10]:
data['total_rns'] = data['stays_in_week_nights'] + data['stays_in_weekend_nights']
data_to_transform = data[['hotel','reserved_room_type','arrival_date_transformed','total_rns','adr']]
data_to_transform

,hotel,reserved_room_type,arrival_date_transformed,total_rns,adr
2388,Resort Hotel,A,2021-07-01,1,107.42
2410,Resort Hotel,A,2021-07-01,1,134.00
2425,Resort Hotel,A,2021-07-01,1,4.00
2427,Resort Hotel,A,2021-07-01,1,134.00
2561,Resort Hotel,A,2021-07-01,1,75.00
...,...,...,...,...,...
109706,Resort Hotel,D,2023-08-24,17,84.80
109707,Resort Hotel,A,2023-08-31,10,89.75
109708,Resort Hotel,E,2023-08-29,14,153.57
109709,Resort Hotel,A,2023-08-31,14,99.06
109710,Resort Hotel,D,2023-08-31,14,112.80

In [11]:
import os
from snowflake.snowpark.session import Session
user = os.getenv("user")
warehouse = os.getenv("warehouse")
schema= os.getenv("schema")
database = os.getenv("database")
role =  os.getenv("role")
account =  os.getenv("account")
password= os.getenv("password")

connection_params = dict(user=user, 
                         password=password, 
                         account=account, 
                         warehouse=warehouse, 
                         database=database,
                         schema=schema, 
                         role=role)

session = Session.builder.configs(connection_params).create()

session.sql('use warehouse {};'.format(warehouse)).collect()

session.sql('use database {};'.format(database)).collect()

session.sql('use schema {}.{};'.format(database, schema)).collect()

[Row(status='Statement executed successfully.')]

# Create a new dataframe to store the data by stay date

In [12]:
expanded_df = pd.DataFrame()

for _, row in data.iterrows():
    num_stay_dates = row['total_rns']
    try:
        # Create a row for each stay date
        expanded_booking = pd.DataFrame({
            'hotel': row['hotel'],
            'room_type': row['reserved_room_type'], 
            'arrival_date': pd.date_range(start=row['expected_arrival_date'], periods=num_stay_dates),
            'total_rns': 1,
            'adr': row['adr']
        })
        
        # Append the stay date information to the new dataframe
        expanded_df = pd.concat([expanded_df, expanded_booking], ignore_index=True)
    except ValueError as e:
        print(f"Error processing booking for {row['hotel']} on {row['expected_arrival_date']} : {num_stay_dates} {e}")


expanded_df

Error processing booking for City Hotel on 29-02-2022 : 1 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 1 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 1 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 1 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 1 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 1 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 1 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 1 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 1 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 2 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 2 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 2 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 2 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 2 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 2 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 2 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 2 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 3 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 4 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 4 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 4 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 4 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 4 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 4 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 4 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 4 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 4 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 4 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 4 day is out of range for month
Error processing booking for Resort Hotel on 29-02-2022 : 4 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 4 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 5 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 6 day is out of range for month
Error processing booking for City Hotel on 29-02-2022 : 10 day is out of range for month

               hotel room_type arrival_date  total_rns     adr
0       Resort Hotel         A   2021-01-07          1  107.42
1       Resort Hotel         A   2021-01-07          1  134.00
2       Resort Hotel         A   2021-01-07          1    4.00
3       Resort Hotel         A   2021-01-07          1  134.00
4       Resort Hotel         A   2021-01-07          1   75.00
...              ...       ...          ...        ...     ...
232598  Resort Hotel         D   2023-09-09          1  112.80
232599  Resort Hotel         D   2023-09-10          1  112.80
232600  Resort Hotel         D   2023-09-11          1  112.80
232601  Resort Hotel         D   2023-09-12          1  112.80
232602  Resort Hotel         D   2023-09-13          1  112.80

[232603 rows x 5 columns]

# Sort the final dataframe by date

In [13]:
expanded_df = expanded_df.sort_values('adr')
expanded_df = expanded_df.reset_index(drop=True)
expanded_df

               hotel room_type arrival_date  total_rns    adr
0         City Hotel         A   2022-06-02          1    1.0
1         City Hotel         A   2022-06-05          1    1.0
2         City Hotel         A   2022-02-02          1    1.0
3         City Hotel         A   2022-02-01          1    1.0
4         City Hotel         A   2022-06-02          1    1.0
...              ...       ...          ...        ...    ...
232598    City Hotel         D   2022-12-30          1  375.5
232599    City Hotel         E   2023-01-01          1  451.5
232600    City Hotel         E   2022-12-31          1  451.5
232601  Resort Hotel         A   2021-07-15          1  508.0
232602    City Hotel         A   2023-09-05          1  510.0

[232603 rows x 5 columns]

# Building seasonality

In [14]:
import holidays
holiday_dates = holidays.CountryHoliday('PT', years=[2020,2021,2022,2023])
holidays = {
    expected_arrival_date: name
    for expected_arrival_date, name in holiday_dates.items()
    if name in ['Ano Novo', 'Páscoa', 'Dia de Natal']
}

# rename holiday columns

In [15]:
expanded_df = expanded_df.rename({'Ano Novo':'new_year','Páscoa':'easter','Dia de Natal':'christmas'},axis=1)

In [16]:
def generate_holiday_dates(start_year, end_year):
    holidays = {}
    for year in range(start_year, end_year + 1):
        holidays[datetime.date(year, 1, 1)] = 'new_year'
        easter_date = easter(year)
        holidays[easter_date] = 'easter'
        holidays[datetime.date(year, 12, 25)] = 'christmas'
    return holidays

holidays = generate_holiday_dates(2020, 2023)

In [17]:
holidays

{datetime.date(2020, 1, 1): 'new_year',
 datetime.date(2020, 4, 12): 'easter',
 datetime.date(2020, 12, 25): 'christmas',
 datetime.date(2021, 1, 1): 'new_year',
 datetime.date(2021, 4, 4): 'easter',
 datetime.date(2021, 12, 25): 'christmas',
 datetime.date(2022, 1, 1): 'new_year',
 datetime.date(2022, 4, 17): 'easter',
 datetime.date(2022, 12, 25): 'christmas',
 datetime.date(2023, 1, 1): 'new_year',
 datetime.date(2023, 4, 9): 'easter',
 datetime.date(2023, 12, 25): 'christmas'}

In [18]:
# Define pre and post ranges for each holiday
pre_range_offset = {'new_year': relativedelta(days=-1),
                    'easter': relativedelta(days=-2),
                    'christmas': relativedelta(days=-3)}

post_range_offset = {'new_year': relativedelta(days=1),
                     'easter': relativedelta(days=2),
                     'christmas': relativedelta(days=3)}

In [19]:
# Create new columns for each holiday
for holiday in holidays.values():
    expanded_df[holiday] = 0
 
 # Set the holiday columns to 1 for matching dates
for arrival_date, name in holidays.items():
    expanded_df.loc[expanded_df['arrival_date'] == arrival_date, name] = 1

    # Set the holiday columns to 1 for pre and post dates
    pre_offset = pre_range_offset.get(name)
    if pre_offset:
        pre_date = pd.to_datetime(arrival_date) + pre_offset
        expanded_df.loc[expanded_df['arrival_date'] == pre_date.strftime('%Y-%m-%d'), name] = 1

    post_offset = post_range_offset.get(name)
    if post_offset:
        post_date = pd.to_datetime(arrival_date) + post_offset
        expanded_df.loc[expanded_df['arrival_date'] == post_date.strftime('%Y-%m-%d'), name] = 1

In [20]:
##check
expanded_df.head()

,hotel,room_type,arrival_date,total_rns,adr,new_year,easter,christmas
0,City Hotel,A,2022-06-02,1,1.0,0,0,0
1,City Hotel,A,2022-06-05,1,1.0,0,0,0
2,City Hotel,A,2022-02-02,1,1.0,0,0,0
3,City Hotel,A,2022-02-01,1,1.0,0,0,0
4,City Hotel,A,2022-06-02,1,1.0,0,0,0

In [21]:
# Add dow, month to data
expanded_df['dow'] = expanded_df.arrival_date.dt.strftime('%A')
expanded_df['month'] = expanded_df.arrival_date.dt.strftime('%B')

In [22]:
##check
expanded_df.head()

,hotel,room_type,arrival_date,total_rns,adr,new_year,easter,christmas,dow,month
0,City Hotel,A,2022-06-02,1,1.0,0,0,0,Thursday,June
1,City Hotel,A,2022-06-05,1,1.0,0,0,0,Sunday,June
2,City Hotel,A,2022-02-02,1,1.0,0,0,0,Wednesday,February
3,City Hotel,A,2022-02-01,1,1.0,0,0,0,Tuesday,February
4,City Hotel,A,2022-06-02,1,1.0,0,0,0,Thursday,June

In [23]:
expanded_df.shape

(232603, 10)

In [24]:
expanded_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232603 entries, 0 to 232602
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   hotel         232603 non-null  object
 1   room_type     232603 non-null  object
 2   arrival_date  232603 non-null  datetime64[ns]
 3   total_rns     232603 non-null  int64
 4   adr           232603 non-null  float64
 5   new_year      232603 non-null  int64
 6   easter        232603 non-null  int64
 7   christmas     232603 non-null  int64
 8   dow           232603 non-null  object
 9   month         232603 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(4), object(4)
memory usage: 17.7+ MB

In [25]:
expanded_df[expanded_df['easter'] == 0]

,hotel,room_type,arrival_date,total_rns,adr,new_year,easter,christmas,dow,month
0,City Hotel,A,2022-06-02,1,1.0,0,0,0,Thursday,June
1,City Hotel,A,2022-06-05,1,1.0,0,0,0,Sunday,June
2,City Hotel,A,2022-02-02,1,1.0,0,0,0,Wednesday,February
3,City Hotel,A,2022-02-01,1,1.0,0,0,0,Tuesday,February
4,City Hotel,A,2022-06-02,1,1.0,0,0,0,Thursday,June
...,...,...,...,...,...,...,...,...,...,...
232598,City Hotel,D,2022-12-30,1,375.5,0,0,0,Friday,December
232599,City Hotel,E,2023-01-01,1,451.5,0,0,0,Sunday,January
232600,City Hotel,E,2022-12-31,1,451.5,1,0,0,Saturday,December
232601,Resort Hotel,A,2021-07-15,1,508.0,0,0,0,Thursday,July
232602,City Hotel,A,2023-09-05,1,510.0,0,0,0,Tuesday,September

In [26]:
holidays_df = expanded_df.groupby(["hotel","room_type","arrival_date"]).agg({"total_rns": sum, "adr": np.mean,     "new_year": 'max',
    "easter": 'max',
    "christmas": 'max',
    "dow": 'first',
    "month": 'first'}).reset_index()

In [27]:
holidays_df[holidays_df['easter'] == 0]

,hotel,room_type,arrival_date,total_rns,adr,new_year,easter,christmas,dow,month
0,City Hotel,A,2021-01-07,64,96.562500,0,0,0,Thursday,January
1,City Hotel,A,2021-01-08,78,94.451923,0,0,0,Friday,January
2,City Hotel,A,2021-01-09,41,96.410976,0,0,0,Saturday,January
3,City Hotel,A,2021-01-10,79,101.682152,0,0,0,Sunday,January
4,City Hotel,A,2021-01-11,64,98.783750,0,0,0,Monday,January
...,...,...,...,...,...,...,...,...,...,...
5418,Resort Hotel,E,2023-12-15,6,128.283333,0,0,0,Friday,December
5419,Resort Hotel,E,2023-12-16,4,146.250000,0,0,0,Saturday,December
5420,Resort Hotel,E,2023-12-17,3,171.333333,0,0,0,Sunday,December
5421,Resort Hotel,E,2023-12-18,2,165.000000,0,0,0,Monday,December
5422,Resort Hotel,E,2023-12-19,2,165.000000,0,0,0,Tuesday,December

In [28]:
#holidays_df.columns = map(lambda x: str(x).upper(), holidays_df.columns)
#session.write_pandas(holidays_df, table_name="HOLIDAYS_DATASET", database=database, schema="TTH_REV_OPT_SCHEMA",  auto_create_table=True, overwrite=True)

In [29]:
holidays_df.columns

Index(['hotel', 'room_type', 'arrival_date', 'total_rns', 'adr', 'new_year',
       'easter', 'christmas', 'dow', 'month'],
      dtype='object')

In [30]:
##PRICING MODEL 1 (WITHOUT HOLIDAYS)
#Remove holidays for our main model
non_holidays = expanded_df[expanded_df[['new_year', 'easter', 'christmas']].sum(axis=1) == 0]
non_holidays.head()

,hotel,room_type,arrival_date,total_rns,adr,new_year,easter,christmas,dow,month
0,City Hotel,A,2022-06-02,1,1.0,0,0,0,Thursday,June
1,City Hotel,A,2022-06-05,1,1.0,0,0,0,Sunday,June
2,City Hotel,A,2022-02-02,1,1.0,0,0,0,Wednesday,February
3,City Hotel,A,2022-02-01,1,1.0,0,0,0,Tuesday,February
4,City Hotel,A,2022-06-02,1,1.0,0,0,0,Thursday,June

In [31]:
final_dataset = pd.concat([non_holidays , holidays_df], axis=0).reset_index(drop=True)
final_dataset
#final_dataset.to_csv("./dataset_latest.csv",index=True)

,hotel,room_type,arrival_date,total_rns,adr,new_year,easter,christmas,dow,month
0,City Hotel,A,2022-06-02,1,1.000000,0,0,0,Thursday,June
1,City Hotel,A,2022-06-05,1,1.000000,0,0,0,Sunday,June
2,City Hotel,A,2022-02-02,1,1.000000,0,0,0,Wednesday,February
3,City Hotel,A,2022-02-01,1,1.000000,0,0,0,Tuesday,February
4,City Hotel,A,2022-06-02,1,1.000000,0,0,0,Thursday,June
...,...,...,...,...,...,...,...,...,...,...
234963,Resort Hotel,E,2023-12-15,6,128.283333,0,0,0,Friday,December
234964,Resort Hotel,E,2023-12-16,4,146.250000,0,0,0,Saturday,December
234965,Resort Hotel,E,2023-12-17,3,171.333333,0,0,0,Sunday,December
234966,Resort Hotel,E,2023-12-18,2,165.000000,0,0,0,Monday,December
234967,Resort Hotel,E,2023-12-19,2,165.000000,0,0,0,Tuesday,December

In [32]:
holidays_df.shape

(5423, 10)

In [33]:
def add_rns(row):
    if row['hotel'] == 'City Hotel' and row['room_type'] == 'A':
        return 406
    elif row['hotel'] == 'City Hotel' and row['room_type'] == 'D':
        return 135
    elif row['hotel'] == 'City Hotel' and row['room_type'] == 'E':
        return 30
    elif row['hotel'] == 'Resort Hotel' and row['room_type'] == 'A':
        return 360
    elif row['hotel'] == 'Resort Hotel' and row['room_type'] == 'D':
        return 125
    elif row['hotel'] == 'Resort Hotel' and row['room_type'] == 'E':

        return 100

In [34]:
final_dataset['dummy_rns'] = 0
final_dataset['dummy_rns'] = final_dataset.apply(add_rns, axis=1)

In [35]:
final_dataset

,hotel,room_type,arrival_date,total_rns,adr,new_year,easter,christmas,dow,month,dummy_rns
0,City Hotel,A,2022-06-02,1,1.000000,0,0,0,Thursday,June,406
1,City Hotel,A,2022-06-05,1,1.000000,0,0,0,Sunday,June,406
2,City Hotel,A,2022-02-02,1,1.000000,0,0,0,Wednesday,February,406
3,City Hotel,A,2022-02-01,1,1.000000,0,0,0,Tuesday,February,406
4,City Hotel,A,2022-06-02,1,1.000000,0,0,0,Thursday,June,406
...,...,...,...,...,...,...,...,...,...,...,...
234963,Resort Hotel,E,2023-12-15,6,128.283333,0,0,0,Friday,December,100
234964,Resort Hotel,E,2023-12-16,4,146.250000,0,0,0,Saturday,December,100
234965,Resort Hotel,E,2023-12-17,3,171.333333,0,0,0,Sunday,December,100
234966,Resort Hotel,E,2023-12-18,2,165.000000,0,0,0,Monday,December,100
234967,Resort Hotel,E,2023-12-19,2,165.000000,0,0,0,Tuesday,December,100

In [36]:
results = pd.DataFrame(columns=['month', 'dow', 'optimal_rate', 'expected_rn','expected_rev','optimal_rate_lim_inv'])

In [37]:
daily_rns= non_holidays.groupby(['date','dow','month']).agg({'rn':'sum'}).reset_index() # get total stays per day
daily_rns = daily_rns.groupby(['dow','month']).agg({'rn':['sum','mean','median']}).reset_index() # get Rns metrics by Dow & Month
daily_rns.columns = ['_'.join(col) for col in daily_rns.columns] #remove multi level column
daily_rns

KeyError: 'date'