# Importing helper libraries

In [1]:
from fosforio import snowflake
from fosforio import get_dataframe
from matplotlib import pyplot as plt
import pandas as pd
pd.set_option('display.max_columns', 500)
import seaborn as sns
from sklearn.metrics import mean_absolute_percentage_error
import numpy as np
import warnings; warnings.simplefilter('ignore')
from joblib import dump, load
import requests
from tqdm import tqdm
import time
import calendar

from time import sleep
import configparser
from dateutil.relativedelta import relativedelta
import datetime
from dateutil.easter import easter
from scipy.optimize import minimize_scalar
from scipy.optimize import curve_fit
import holidays, itertools

%matplotlib inline

Connection manager service url initialised to http://fdc-project-manager:80/project-manager
If you need to update its value then update the variable CONNECTION_MANAGER_BASE_URL in os env.

Matplotlib created a temporary cache directory at /tmp/matplotlib-cg0hbn0l because the default path (/home/mosaic-ai/.cache/matplotlib) is not a writable directory; it is highly recommended to set the MPLCONFIGDIR environment variable to a writable directory, in particular to speed up the import of Matplotlib and to better support multiprocessing.

# Reading the data

In [2]:
snowflake.get_connection(connection_name="TTH_REV_OPT_CXN")
data = get_dataframe("BOOKINGS_TRANSFORMED")
data

Connection object created: <snowflake.connector.connection.SnowflakeConnection object at 0x7f08f45b9940>
Please close the connection after use!
Reading dataframe from snowflake native connector

,ARRIVAL_DATE_TRANSFORMED,RESERVATION_STATUS_DATE_TRANSFORMED,HOTEL,IS_CANCELED,LEAD_TIME,ARRIVAL_DATE_YEAR,MONTH,ARRIVAL_DATE_WEEK_NUMBER,ARRIVAL_DATE_DAY_OF_MONTH,EXPECTED_ARRIVAL_DATE,RESERVATION_STATUS,RESERVATION_STATUS_DATE,TOTAL_STAY_NIGHTS,TALLY_DAYS,STAYS_IN_WEEKEND_NIGHTS,STAYS_IN_WEEK_NIGHTS,ADULTS,CHILDREN,BABIES,TOTAL_GUESTS,AVG_ROOMS_PER_NIGHT,TOTAL_ROOM_NIGHTS,MEAL,COUNTRY,MARKET_SEGMENT,DISTRIBUTION_CHANNEL,PREVIOUS_CANCELLATIONS,PREVIOUS_BOOKINGS_NOT_CANCELED,RESERVED_ROOM_TYPE,ASSIGNED_ROOM_TYPE,DEPOSIT_TYPE,DAYS_IN_WAITING_LIST,CUSTOMER_TYPE,ADR,BOOKING_ID,CUST_ID
0,2024-01-06,2023-07-08,City Hotel,1,182,2024,1,1,6,2024-01-06,Canceled,2023-07-08,5,0.129,1,4,2,0,0,2,1,5,BB,NLD,Online TA,TA/TO,0,0,A,A,No Deposit,0,Transient,104.00,B20230802421734,C0106454
1,2023-08-27,2023-07-23,City Hotel,0,35,2023,8,34,27,2023-08-27,Check.Out,2023-07-23,3,3.000,0,3,2,0,0,2,1,3,SC,AUT,Online TA,TA/TO,0,0,A,A,No Deposit,0,Transient,109.00,B20230731494526,C0106455
2,2023-08-28,2023-07-24,City Hotel,0,35,2023,8,35,28,2023-08-28,Check.Out,2023-07-24,2,2.000,0,2,2,0,0,2,1,2,BB,PRT,Direct,Direct,0,0,A,E,No Deposit,0,Transient,104.13,B20230730516400,C0106456
3,2023-08-29,2023-05-05,City Hotel,0,116,2023,8,35,29,2023-08-29,Check.Out,2023-05-05,1,1.000,0,1,2,0,0,2,1,1,BB,BRA,Online TA,TA/TO,0,0,D,D,No Deposit,0,Transient,104.40,B20230730842717,C0106457
4,2023-08-27,2023-07-21,City Hotel,0,37,2023,8,34,27,2023-08-27,Check.Out,2023-07-21,3,3.000,0,3,1,0,0,1,1,3,BB,ITA,Online TA,TA/TO,0,0,A,A,No Deposit,0,Transient,119.00,B20230803534453,C0106458
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109613,2023-08-29,2023-08-22,City Hotel,0,7,2023,8,35,29,2023-08-29,Check.Out,2023-08-22,1,1.000,0,1,2,0,0,2,1,1,BB,PRT,Direct,Direct,0,0,A,D,No Deposit,0,Transient,100.00,B20230729182897,C0106449
109614,2023-08-28,2023-06-03,City Hotel,0,86,2023,8,35,28,2023-08-28,Check.Out,2023-06-03,2,2.000,0,2,2,0,0,2,1,2,BB,FRA,Online TA,TA/TO,0,0,D,D,No Deposit,0,Transient,104.40,B20230725559620,C0106450
109615,2023-08-28,2023-07-15,City Hotel,0,44,2023,8,35,28,2023-08-28,Check.Out,2023-07-15,2,2.000,0,2,2,1,0,3,1,2,BB,ESP,Offline TA/TO,TA/TO,0,0,A,D,No Deposit,0,Transient,100.00,B20230725615335,C0106451
109616,2023-08-28,2023-04-04,Resort Hotel,0,146,2023,8,35,28,2023-08-28,Check.Out,2023-04-04,2,2.000,0,2,2,0,0,2,1,2,BB,PRT,Groups,Direct,0,0,D,D,No Deposit,142,Transient.Party,52.00,B20230729635233,C0106452
109617,2023-08-28,2023-02-10,City Hotel,0,199,2023,8,35,28,2023-08-28,Check.Out,2023-02-10,2,2.000,0,2,1,2,0,3,1,2,BB,PRT,Groups,TA/TO,0,0,A,C,No Deposit,0,Transient.Party,109.00,B20230807794114,C0106453

In [3]:
data.columns = map(lambda x: str(x).lower(), data.columns)

In [4]:
def update_values(row):
    if row['hotel'] == 'City Hotel' and row['reserved_room_type'] == 'A':
        return 150
    elif row['hotel'] == 'City Hotel' and row['reserved_room_type'] == 'D':
        return 80
    elif row['hotel'] == 'City Hotel' and row['reserved_room_type'] == 'E':
        return 30
    elif row['hotel'] == 'Resort Hotel' and row['reserved_room_type'] == 'A':
        return 150
    elif row['hotel'] == 'Resort Hotel' and row['reserved_room_type'] == 'D':
        return 75
    elif row['hotel'] == 'Resort Hotel' and row['reserved_room_type'] == 'E':
        return 60
    else:
        pass

In [5]:
data['room_limit'] = data.apply(update_values, axis=1)

In [6]:
hotels = data['hotel'].unique()

In [7]:
from scipy.optimize import curve_fit

# Define the demand curve function
def demand_curve(x, a, b, c, d, max_demand):
    demand = a * np.exp(-b * x) + c
    demand = np.where(x <= max_demand, np.minimum(demand, max_demand), demand)
    return demand + d

In [8]:
def revenue(price):
    return price * demand_curve(price, a_fit, b_fit,c_fit,d_fit,max_demand)

In [9]:
from scipy.optimize import brentq

def demand_to_price(num_rooms, a, b, c, d, max_demand):
    def root_func(x):
        return num_rooms - (a * np.exp(-b * x) + c)

    try:
        price = brentq(root_func, 0, 200)  # Adjust the interval bounds as needed
    except ValueError:
        # Fallback to default price if no root is found
        price_range=(0, 200)
        price = np.random.uniform(*price_range)

    return price

In [10]:
def generate_holiday_dates(start_year, end_year):
    holidays = {}
    for year in range(start_year, end_year + 1):
        holidays[datetime.date(year, 1, 1)] = 'new_year'
        easter_date = easter(year)
        holidays[easter_date] = 'easter'
        holidays[datetime.date(year, 12, 25)] = 'christmas'
    return holidays

holidays = generate_holiday_dates(2020, 2023)

In [11]:
def data_conversion(data):
    import holidays
    hotels = data['hotel'].unique()
    room_types = data['reserved_room_type'].unique()
    expanded_df = pd.DataFrame()
    for _, row in data.iterrows():
        num_stay_dates = row['total_rns']
        try:
            # Create a row for each stay date
            expanded_booking = pd.DataFrame({
                'hotel': row['hotel'],
                'room_type': row['reserved_room_type'], 
                'arrival_date': pd.date_range(start=row['expected_arrival_date'], periods=num_stay_dates),
                'total_rns': 1,
                'adr': row['adr'],
                'room_limit': row['room_limit']
            })

            # Append the stay date information to the new dataframe
            expanded_df = pd.concat([expanded_df, expanded_booking], ignore_index=True)
        except ValueError as e:
            print(f"Error processing booking for {row['hotel']} on {row['expected_arrival_date']} : {num_stay_dates} {e}")
    expanded_df = expanded_df.sort_values('arrival_date')
    expanded_df = expanded_df.reset_index(drop=True)
    expanded_df['adr']= np.round(expanded_df['adr'], 2)
           
    expanded_df['dow'] = expanded_df.arrival_date.dt.strftime('%A')
    expanded_df['month'] = expanded_df.arrival_date.dt.strftime('%B')

    return expanded_df

data['total_rns'] = data['stays_in_week_nights'] + data['stays_in_weekend_nights']

In [12]:
data = data[(data['is_canceled'] == 0) & (data['reservation_status'] !='No-Show')] 
data = data[(data.market_segment != 'Complementary') ]
data = data[(data.reserved_room_type == 'A') |(data.reserved_room_type == 'D') | (data.reserved_room_type == 'E')]

converted_df = data_conversion(data[['hotel', 'reserved_room_type', 'expected_arrival_date', 'adr', 'room_limit', 'total_rns']])
converted_df

,hotel,room_type,arrival_date,total_rns,adr,room_limit,dow,month
0,City Hotel,A,2022-05-01,1,80.00,150,Sunday,May
1,City Hotel,A,2022-05-01,1,101.50,150,Sunday,May
2,Resort Hotel,A,2022-05-01,1,94.00,150,Sunday,May
3,City Hotel,A,2022-05-01,1,80.00,150,Sunday,May
4,City Hotel,A,2022-05-01,1,80.00,150,Sunday,May
...,...,...,...,...,...,...,...,...
232598,Resort Hotel,A,2024-07-11,1,99.06,150,Thursday,July
232599,Resort Hotel,D,2024-07-12,1,112.80,75,Friday,July
232600,Resort Hotel,A,2024-07-12,1,99.06,150,Friday,July
232601,Resort Hotel,D,2024-07-13,1,112.80,75,Saturday,July
232602,Resort Hotel,A,2024-07-13,1,99.06,150,Saturday,July

In [13]:
converted_df

,hotel,room_type,arrival_date,total_rns,adr,room_limit,dow,month
0,City Hotel,A,2022-05-01,1,80.00,150,Sunday,May
1,City Hotel,A,2022-05-01,1,101.50,150,Sunday,May
2,Resort Hotel,A,2022-05-01,1,94.00,150,Sunday,May
3,City Hotel,A,2022-05-01,1,80.00,150,Sunday,May
4,City Hotel,A,2022-05-01,1,80.00,150,Sunday,May
...,...,...,...,...,...,...,...,...
232598,Resort Hotel,A,2024-07-11,1,99.06,150,Thursday,July
232599,Resort Hotel,D,2024-07-12,1,112.80,75,Friday,July
232600,Resort Hotel,A,2024-07-12,1,99.06,150,Friday,July
232601,Resort Hotel,D,2024-07-13,1,112.80,75,Saturday,July
232602,Resort Hotel,A,2024-07-13,1,99.06,150,Saturday,July

In [14]:
import os
from snowflake.snowpark.session import Session
user = os.getenv("user")
warehouse = os.getenv("warehouse")
schema= os.getenv("schema")
database = os.getenv("database")
role =  os.getenv("role")
account =  os.getenv("account")
password= os.getenv("password")

connection_params = dict(user=user, 
                         password=password, 
                         account=account, 
                         warehouse=warehouse, 
                         database=database,
                         schema=schema, 
                         role=role)

session = Session.builder.configs(connection_params).create()

session.sql('use warehouse {};'.format(warehouse)).collect()

session.sql('use database {};'.format(database)).collect()

session.sql('use schema {}.{};'.format(database, schema)).collect()

[Row(status='Statement executed successfully.')]

In [18]:
converted_df["arrival_date"] = pd.to_datetime(converted_df["arrival_date"]).dt.strftime("%Y-%m-%d %H:%M:%S")

In [19]:
df_model=session.createDataFrame(
        converted_df.values.tolist(),
        schema=converted_df.columns.tolist())
df_model.write.mode("overwrite").save_as_table("TTH_DB.TTH_REV_OPT_Schema.CONVERTED_PRICING_DATA")

In [ ]:


@scoring_func
def format_data(request, call=None):
    import json
    file_obj = FileStorage(request.files["file1"])
    file_obj.save('./input_file.csv')    
    
    expanded_df = pd.read_csv('./input_file.csv')

    results = pd.DataFrame(columns=['month', 'hotel','room_limit', 'room_type', 'dow', 'optimal_rate', 'expected_rn','expected_rev','optimal_rate_lim_inv'])
    hotel_types = ['Resort Hotel', 'City Hotel']
    room_types = ['A', 'D', 'E']
    daily_rns= expanded_df.groupby(['arrival_date','dow','month', 'hotel', 'room_type']).agg({'room_limit': 'mean', 'total_rns':'sum'}).reset_index() # ge total stays per day

    daily_rns = daily_rns.groupby(['dow','month', 'hotel', 'room_type']).agg({'room_limit': 'mean','total_rns':['sum','mean','median']}).reset_index() # get Rns metrics by Dow & Month

    daily_rns.columns = ['_'.join(col) for col in daily_rns.columns] #remove multi level column
    adr_frequency = expanded_df.groupby(['dow','month','adr', 'hotel', 'room_type']).agg({'room_limit': 'mean','total_rns':'sum'})
    adr_frequency.reset_index(inplace=True)
    merged_df = pd.merge(adr_frequency, daily_rns,how='left',left_on=['dow','month', 'hotel', 'room_type'], right_on=['dow_','month_', 'hotel_', 'room_type_'],suffixes=('_act', '_tot'))

    merged_df = merged_df.drop(['dow_','month_'],axis=1)

    merged_df['probability'] = merged_df['total_rns']/merged_df['total_rns_sum']
    merged_df['expected_rns'] = merged_df['probability'] * merged_df['total_rns_median']
    merged_df = merged_df.sort_values(by=['dow', 'month', 'adr'], ascending=[True, True, False])
    merged_df['expected_demand']=merged_df.groupby(['dow', 'month'])['expected_rns'].cumsum()
    merged_df['expected_rev'] = merged_df['adr']* merged_df['expected_demand']
    results = pd.DataFrame(columns=['month', 'hotel','room_limit', 'room_type', 'dow', 'optimal_rate', 'expected_rn','expected_rev','optimal_rate_lim_inv'])
    months = merged_df.month.unique()
    dow = merged_df.dow.unique()
    for hotel in hotels:
        for room_type in room_types:
            for month in months:
                for day in dow:
                    # Get data for the specific combination
                    data_subset = merged_df[(merged_df['dow'] == day) & 
                                            (merged_df['hotel'] == hotel) & 
                                            (merged_df['room_type'] == room_type) & 
                                            (merged_df['month'] == month)].reset_index()

                    if data_subset.empty:
                        continue

                    # Remove outliers
                    mean = data_subset['adr'].mean()
                    std_dev = data_subset['adr'].std()
                    data_subset['z_scores'] = np.abs((data_subset['adr'] - mean) / std_dev)
                    data_subset = data_subset[data_subset['z_scores'] <= 2]

                    # Fit demand curve
                    x_data = data_subset['adr'].values
                    y_data = data_subset['expected_demand'].values

                    try:
                        initial_guess = [1, 0.01, 1, 1, data_subset['total_rns_median'].values[0]]
                        bounds = ([0, 0, 0, 0, 0], [np.inf, np.inf, np.inf, np.inf, np.inf])
                        maxfev = 10000  # Increase the number of maximum function evaluations
                        params, _ = curve_fit(demand_curve, x_data, y_data, bounds=bounds, p0=initial_guess, maxfev=maxfev)
                    except RuntimeError as e:
                        print(f"Error fitting demand curve for {hotel}, {room_type}, {month}, {day}: {e}")
                        continue

                    a_fit, b_fit, c_fit, d_fit, max_demand = params

                    # Optimize revenue
                    def revenue(price):
                        return price * demand_curve(price, a_fit, b_fit, c_fit, d_fit, max_demand)

                    objective = lambda price: -revenue(price)
                    optimize = minimize_scalar(objective, bounds=(45, 200), method='bounded')
                    optimal_price = optimize.x
                    max_revenue = -optimize.fun
                    expected_rns = demand_curve(optimal_price, a_fit, b_fit, c_fit, d_fit, max_demand)

                    optimal_rate_lim_inv = demand_to_price(data_subset['room_limit'].mean(), a_fit, b_fit, c_fit, d_fit, max_demand)

                    new_row = pd.DataFrame({'hotel': hotel,
                                            'room_type': room_type,
                                            'room_limit': data_subset['room_limit'].mean(),
                                            'month': month,
                                            'dow': day,
                                            'optimal_rate': optimal_price,
                                            'expected_rev': max_revenue,
                                            'expected_rn': expected_rns,
                                            'optimal_rate_lim_inv': optimal_rate_lim_inv}, index=[0])
                    results = pd.concat([results, new_row], ignore_index=True)

    
    results['optimal_rate'] = results['optimal_rate'].round()
    results['optimal_rate_lim_inv'] = results['optimal_rate_lim_inv'].round()

    results['expected_rn'] = results['expected_rn'].round().astype(int)
    results['expected_rev'] = results['expected_rev'].round()
    combinations = list(itertools.product(hotel_types, room_types))
    combinations_df = pd.DataFrame(combinations, columns=['hotel', 'room_type'])
    month_dict = {month: index for index, month in enumerate(pd.date_range('2020-01-01', periods=12, freq='M').strftime('%B'), 1)}


    new_data = pd.DataFrame()

    for year in range(2020, 2024):
        for month in month_dict.values():
            start_date = pd.to_datetime(f'{year}-{month}-01').replace(day=1)
            end_date = pd.to_datetime(f'{year}-{month}-01').replace(day=1) + pd.offsets.MonthEnd(0)
            date_range = pd.date_range(start_date, end_date, freq='D')
            df = pd.DataFrame(date_range, columns=['arrival_date'])
            df['dow'] = df['arrival_date'].dt.day_name()
            df['month'] = df['arrival_date'].dt.month_name()

            result_df = df.assign(key=1).merge(combinations_df.assign(key=1), on='key').drop('key', axis=1)
            new_data = pd.concat([new_data, result_df], ignore_index=True)

    final_data = pd.merge(new_data, results, how='left', on=['dow', 'hotel', 'room_type', 'month'])
    print(final_data.isna().sum())
    final_data['room_limit'] = final_data['room_limit'].astype(int)
    return final_data


# req = requests.Request()
# req.files = {'file1': 'sample.csv'}
# score(clf, req)