In [2]:
!pip install --upgrade pip
!pip install "snowflake-connector-python[pandas]" "snowflake-snowpark-python[pandas]" snowflake-snowpark-python==1.9.0 numpy pandas matplotlib scikit-learn xgboost seaborn python-dateutil tqdm holidays faker
!pip install --upgrade --q snowflake-snowpark-python==1.9.0
!pip uninstall urllib3 -y
!pip install urllib3==1.26.15
!pip install fosforml==1.1.6
!pip install yellowbrick

Requirement already satisfied: pip in /opt/conda/lib/python3.9/site-packages (24.2)
Collecting snowflake-snowpark-python==1.9.0
  Using cached snowflake_snowpark_python-1.9.0-py3-none-any.whl.metadata (44 kB)
Requirement already satisfied: numpy in /opt/conda/lib/python3.9/site-packages (1.26.4)
Requirement already satisfied: pandas in /opt/conda/lib/python3.9/site-packages (2.2.0)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.9/site-packages (3.9.2)
Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.9/site-packages (1.3.2)
Requirement already satisfied: xgboost in /opt/conda/lib/python3.9/site-packages (1.7.6)
Requirement already satisfied: seaborn in /opt/conda/lib/python3.9/site-packages (0.13.2)
Requirement already satisfied: python-dateutil in /opt/conda/lib/python3.9/site-packages (2.9.0.post0)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.9/site-packages (4.66.4)
Requirement already satisfied: holidays in /opt/conda/lib/python3.9/site-packages (0.57)
Requirement already satisfied: faker in /opt/conda/lib/python3.9/site-packages (28.4.1)
Requirement already satisfied: snowflake-connector-python[pandas] in /opt/conda/lib/python3.9/site-packages (3.12.2)
Requirement already satisfied: setuptools>=40.6.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-snowpark-python==1.9.0) (65.6.3)
Requirement already satisfied: wheel in /opt/conda/lib/python3.9/site-packages (from snowflake-snowpark-python==1.9.0) (0.37.1)
Requirement already satisfied: typing-extensions<5.0.0,>=4.1.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-snowpark-python==1.9.0) (4.12.2)
Requirement already satisfied: pyyaml in /opt/conda/lib/python3.9/site-packages (from snowflake-snowpark-python==1.9.0) (6.0.1)
Collecting cloudpickle<=2.0.0,>=1.6.0 (from snowflake-snowpark-python==1.9.0)
  Using cached cloudpickle-2.0.0-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: asn1crypto<2.0.0,>0.24.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python[pandas]) (1.5.1)
Requirement already satisfied: cffi<2.0.0,>=1.9 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python[pandas]) (1.16.0)
Requirement already satisfied: cryptography>=3.1.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python[pandas]) (42.0.5)
Requirement already satisfied: pyOpenSSL<25.0.0,>=16.2.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python[pandas]) (24.0.0)
Requirement already satisfied: pyjwt<3.0.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python[pandas]) (2.9.0)
Requirement already satisfied: pytz in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python[pandas]) (2024.1)
Requirement already satisfied: requests<3.0.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python[pandas]) (2.32.3)
Requirement already satisfied: packaging in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python[pandas]) (23.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python[pandas]) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python[pandas]) (3.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python[pandas]) (2024.7.4)
Requirement already satisfied: filelock<4,>=3.5 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python[pandas]) (3.16.1)
Requirement already satisfied: sortedcontainers>=2.4.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python[pandas]) (2.4.0)
Requirement already satisfied: platformdirs<5.0.0,>=2.6.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python[pandas]) (4.2.2)
Requirement already satisfied: tomlkit in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python[pandas]) (0.13.2)
Requirement already satisfied: urllib3<2.0.0,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python[pandas]) (1.26.15)
Requirement already satisfied: pyarrow in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python[pandas]) (17.0.0)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.9/site-packages (from pandas) (2024.1)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.9/site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.9/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.9/site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/lib/python3.9/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: pillow>=8 in /opt/conda/lib/python3.9/site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/lib/python3.9/site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: importlib-resources>=3.2.0 in /opt/conda/lib/python3.9/site-packages (from matplotlib) (6.4.5)
Requirement already satisfied: scipy>=1.5.0 in /opt/conda/lib/python3.9/site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.1.1 in /opt/conda/lib/python3.9/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.9/site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil) (1.16.0)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.9/site-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python[pandas]) (2.21)
Requirement already satisfied: zipp>=3.1.0 in /opt/conda/lib/python3.9/site-packages (from importlib-resources>=3.2.0->matplotlib) (3.19.2)
Using cached snowflake_snowpark_python-1.9.0-py3-none-any.whl (327 kB)
Using cached cloudpickle-2.0.0-py3-none-any.whl (25 kB)
Installing collected packages: cloudpickle, snowflake-snowpark-python
  Attempting uninstall: cloudpickle
    Found existing installation: cloudpickle 2.2.1
    Uninstalling cloudpickle-2.2.1:
      Successfully uninstalled cloudpickle-2.2.1
  Attempting uninstall: snowflake-snowpark-python
    Found existing installation: snowflake-snowpark-python 1.22.1
    Uninstalling snowflake-snowpark-python-1.22.1:
      Successfully uninstalled snowflake-snowpark-python-1.22.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
fosforml 1.1.6 requires cloudpickle==2.2.1, but you have cloudpickle 2.0.0 which is incompatible.
snowflake-ml-python 1.5.0 requires snowflake-snowpark-python!=1.12.0,<2,>=1.11.1, but you have snowflake-snowpark-python 1.9.0 which is incompatible.
Successfully installed cloudpickle-2.0.0 snowflake-snowpark-python-1.9.0
Found existing installation: urllib3 1.26.15
Uninstalling urllib3-1.26.15:
  Successfully uninstalled urllib3-1.26.15
Collecting urllib3==1.26.15
  Using cached urllib3-1.26.15-py2.py3-none-any.whl.metadata (48 kB)
Using cached urllib3-1.26.15-py2.py3-none-any.whl (140 kB)
Installing collected packages: urllib3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
snowflake-ml-python 1.5.0 requires snowflake-snowpark-python!=1.12.0,<2,>=1.11.1, but you have snowflake-snowpark-python 1.9.0 which is incompatible.
Successfully installed urllib3-1.26.15
Requirement already satisfied: fosforml==1.1.6 in /opt/conda/lib/python3.9/site-packages (1.1.6)
Collecting cloudpickle==2.2.1 (from fosforml==1.1.6)
  Using cached cloudpickle-2.2.1-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: scikit-learn==1.3.2 in /opt/conda/lib/python3.9/site-packages (from fosforml==1.1.6) (1.3.2)
Requirement already satisfied: snowflake-ml-python==1.5.0 in /opt/conda/lib/python3.9/site-packages (from fosforml==1.1.6) (1.5.0)
Requirement already satisfied: numpy<2.0,>=1.17.3 in /opt/conda/lib/python3.9/site-packages (from scikit-learn==1.3.2->fosforml==1.1.6) (1.26.4)
Requirement already satisfied: scipy>=1.5.0 in /opt/conda/lib/python3.9/site-packages (from scikit-learn==1.3.2->fosforml==1.1.6) (1.13.1)
Requirement already satisfied: joblib>=1.1.1 in /opt/conda/lib/python3.9/site-packages (from scikit-learn==1.3.2->fosforml==1.1.6) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.9/site-packages (from scikit-learn==1.3.2->fosforml==1.1.6) (3.5.0)
Requirement already satisfied: absl-py<2,>=0.15 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0->fosforml==1.1.6) (1.4.0)
Requirement already satisfied: anyio<4,>=3.5.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0->fosforml==1.1.6) (3.7.1)
Requirement already satisfied: cachetools<6,>=3.1.1 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0->fosforml==1.1.6) (5.5.0)
Requirement already satisfied: catboost<1.3,>=1.2.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0->fosforml==1.1.6) (1.2.7)
Requirement already satisfied: fsspec<2024,>=2022.11 in /opt/conda/lib/python3.9/site-packages (from fsspec[http]<2024,>=2022.11->snowflake-ml-python==1.5.0->fosforml==1.1.6) (2023.12.2)
Requirement already satisfied: importlib-resources<7,>=6.1.1 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0->fosforml==1.1.6) (6.4.5)
Requirement already satisfied: packaging<24,>=20.9 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0->fosforml==1.1.6) (23.2)
Requirement already satisfied: pandas<3,>=1.0.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0->fosforml==1.1.6) (2.2.0)
Requirement already satisfied: pyarrow in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0->fosforml==1.1.6) (17.0.0)
Requirement already satisfied: pytimeparse<2,>=1.1.8 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0->fosforml==1.1.6) (1.1.8)
Requirement already satisfied: pyyaml<7,>=6.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0->fosforml==1.1.6) (6.0.1)
Requirement already satisfied: retrying<2,>=1.3.3 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0->fosforml==1.1.6) (1.3.4)
Requirement already satisfied: s3fs<2024,>=2022.11 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0->fosforml==1.1.6) (2023.12.2)
Requirement already satisfied: snowflake-connector-python<4,>=3.5.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python[pandas]<4,>=3.5.0->snowflake-ml-python==1.5.0->fosforml==1.1.6) (3.12.2)
Collecting snowflake-snowpark-python!=1.12.0,<2,>=1.11.1 (from snowflake-ml-python==1.5.0->fosforml==1.1.6)
  Using cached snowflake_snowpark_python-1.22.1-py3-none-any.whl.metadata (94 kB)
Requirement already satisfied: sqlparse<1,>=0.4 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0->fosforml==1.1.6) (0.5.1)
Requirement already satisfied: typing-extensions<5,>=4.1.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0->fosforml==1.1.6) (4.12.2)
Requirement already satisfied: xgboost<2,>=1.7.3 in /opt/conda/lib/python3.9/site-packages (from snowflake-ml-python==1.5.0->fosforml==1.1.6) (1.7.6)
Requirement already satisfied: idna>=2.8 in /opt/conda/lib/python3.9/site-packages (from anyio<4,>=3.5.0->snowflake-ml-python==1.5.0->fosforml==1.1.6) (3.7)
Requirement already satisfied: sniffio>=1.1 in /opt/conda/lib/python3.9/site-packages (from anyio<4,>=3.5.0->snowflake-ml-python==1.5.0->fosforml==1.1.6) (1.3.1)
Requirement already satisfied: exceptiongroup in /opt/conda/lib/python3.9/site-packages (from anyio<4,>=3.5.0->snowflake-ml-python==1.5.0->fosforml==1.1.6) (1.2.2)
Requirement already satisfied: graphviz in /opt/conda/lib/python3.9/site-packages (from catboost<1.3,>=1.2.0->snowflake-ml-python==1.5.0->fosforml==1.1.6) (0.20.3)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.9/site-packages (from catboost<1.3,>=1.2.0->snowflake-ml-python==1.5.0->fosforml==1.1.6) (3.9.2)
Requirement already satisfied: plotly in /opt/conda/lib/python3.9/site-packages (from catboost<1.3,>=1.2.0->snowflake-ml-python==1.5.0->fosforml==1.1.6) (5.24.1)
Requirement already satisfied: six in /opt/conda/lib/python3.9/site-packages (from catboost<1.3,>=1.2.0->snowflake-ml-python==1.5.0->fosforml==1.1.6) (1.16.0)
Requirement already satisfied: requests in /opt/conda/lib/python3.9/site-packages (from fsspec[http]<2024,>=2022.11->snowflake-ml-python==1.5.0->fosforml==1.1.6) (2.32.3)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /opt/conda/lib/python3.9/site-packages (from fsspec[http]<2024,>=2022.11->snowflake-ml-python==1.5.0->fosforml==1.1.6) (3.10.5)
Requirement already satisfied: zipp>=3.1.0 in /opt/conda/lib/python3.9/site-packages (from importlib-resources<7,>=6.1.1->snowflake-ml-python==1.5.0->fosforml==1.1.6) (3.19.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.9/site-packages (from pandas<3,>=1.0.0->snowflake-ml-python==1.5.0->fosforml==1.1.6) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.9/site-packages (from pandas<3,>=1.0.0->snowflake-ml-python==1.5.0->fosforml==1.1.6) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.9/site-packages (from pandas<3,>=1.0.0->snowflake-ml-python==1.5.0->fosforml==1.1.6) (2024.1)
Requirement already satisfied: aiobotocore<3.0.0,>=2.5.4 in /opt/conda/lib/python3.9/site-packages (from s3fs<2024,>=2022.11->snowflake-ml-python==1.5.0->fosforml==1.1.6) (2.15.0)
Requirement already satisfied: asn1crypto<2.0.0,>0.24.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python<4,>=3.5.0->snowflake-connector-python[pandas]<4,>=3.5.0->snowflake-ml-python==1.5.0->fosforml==1.1.6) (1.5.1)
Requirement already satisfied: cffi<2.0.0,>=1.9 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python<4,>=3.5.0->snowflake-connector-python[pandas]<4,>=3.5.0->snowflake-ml-python==1.5.0->fosforml==1.1.6) (1.16.0)
Requirement already satisfied: cryptography>=3.1.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python<4,>=3.5.0->snowflake-connector-python[pandas]<4,>=3.5.0->snowflake-ml-python==1.5.0->fosforml==1.1.6) (42.0.5)
Requirement already satisfied: pyOpenSSL<25.0.0,>=16.2.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python<4,>=3.5.0->snowflake-connector-python[pandas]<4,>=3.5.0->snowflake-ml-python==1.5.0->fosforml==1.1.6) (24.0.0)
Requirement already satisfied: pyjwt<3.0.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python<4,>=3.5.0->snowflake-connector-python[pandas]<4,>=3.5.0->snowflake-ml-python==1.5.0->fosforml==1.1.6) (2.9.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python<4,>=3.5.0->snowflake-connector-python[pandas]<4,>=3.5.0->snowflake-ml-python==1.5.0->fosforml==1.1.6) (3.3.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python<4,>=3.5.0->snowflake-connector-python[pandas]<4,>=3.5.0->snowflake-ml-python==1.5.0->fosforml==1.1.6) (2024.7.4)
Requirement already satisfied: filelock<4,>=3.5 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python<4,>=3.5.0->snowflake-connector-python[pandas]<4,>=3.5.0->snowflake-ml-python==1.5.0->fosforml==1.1.6) (3.16.1)
Requirement already satisfied: sortedcontainers>=2.4.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python<4,>=3.5.0->snowflake-connector-python[pandas]<4,>=3.5.0->snowflake-ml-python==1.5.0->fosforml==1.1.6) (2.4.0)
Requirement already satisfied: platformdirs<5.0.0,>=2.6.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python<4,>=3.5.0->snowflake-connector-python[pandas]<4,>=3.5.0->snowflake-ml-python==1.5.0->fosforml==1.1.6) (4.2.2)
Requirement already satisfied: tomlkit in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python<4,>=3.5.0->snowflake-connector-python[pandas]<4,>=3.5.0->snowflake-ml-python==1.5.0->fosforml==1.1.6) (0.13.2)
Requirement already satisfied: urllib3<2.0.0,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from snowflake-connector-python<4,>=3.5.0->snowflake-connector-python[pandas]<4,>=3.5.0->snowflake-ml-python==1.5.0->fosforml==1.1.6) (1.26.15)
Requirement already satisfied: setuptools>=40.6.0 in /opt/conda/lib/python3.9/site-packages (from snowflake-snowpark-python!=1.12.0,<2,>=1.11.1->snowflake-ml-python==1.5.0->fosforml==1.1.6) (65.6.3)
Requirement already satisfied: wheel in /opt/conda/lib/python3.9/site-packages (from snowflake-snowpark-python!=1.12.0,<2,>=1.11.1->snowflake-ml-python==1.5.0->fosforml==1.1.6) (0.37.1)
Requirement already satisfied: botocore<1.35.17,>=1.35.16 in /opt/conda/lib/python3.9/site-packages (from aiobotocore<3.0.0,>=2.5.4->s3fs<2024,>=2022.11->snowflake-ml-python==1.5.0->fosforml==1.1.6) (1.35.16)
Requirement already satisfied: wrapt<2.0.0,>=1.10.10 in /opt/conda/lib/python3.9/site-packages (from aiobotocore<3.0.0,>=2.5.4->s3fs<2024,>=2022.11->snowflake-ml-python==1.5.0->fosforml==1.1.6) (1.16.0)
Requirement already satisfied: aioitertools<1.0.0,>=0.5.1 in /opt/conda/lib/python3.9/site-packages (from aiobotocore<3.0.0,>=2.5.4->s3fs<2024,>=2022.11->snowflake-ml-python==1.5.0->fosforml==1.1.6) (0.12.0)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /opt/conda/lib/python3.9/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<2024,>=2022.11->snowflake-ml-python==1.5.0->fosforml==1.1.6) (2.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /opt/conda/lib/python3.9/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<2024,>=2022.11->snowflake-ml-python==1.5.0->fosforml==1.1.6) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /opt/conda/lib/python3.9/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<2024,>=2022.11->snowflake-ml-python==1.5.0->fosforml==1.1.6) (23.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/conda/lib/python3.9/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<2024,>=2022.11->snowflake-ml-python==1.5.0->fosforml==1.1.6) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/conda/lib/python3.9/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<2024,>=2022.11->snowflake-ml-python==1.5.0->fosforml==1.1.6) (6.1.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /opt/conda/lib/python3.9/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<2024,>=2022.11->snowflake-ml-python==1.5.0->fosforml==1.1.6) (1.11.1)
Requirement already satisfied: async-timeout<5.0,>=4.0 in /opt/conda/lib/python3.9/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<2024,>=2022.11->snowflake-ml-python==1.5.0->fosforml==1.1.6) (4.0.3)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.9/site-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python<4,>=3.5.0->snowflake-connector-python[pandas]<4,>=3.5.0->snowflake-ml-python==1.5.0->fosforml==1.1.6) (2.21)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.9/site-packages (from matplotlib->catboost<1.3,>=1.2.0->snowflake-ml-python==1.5.0->fosforml==1.1.6) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.9/site-packages (from matplotlib->catboost<1.3,>=1.2.0->snowflake-ml-python==1.5.0->fosforml==1.1.6) (0.12.1)

In [3]:
from fosforml import *
from fosforml.constants import MLModelFlavours
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 500)
import seaborn as sns
from sklearn.metrics import mean_absolute_percentage_error
import warnings; warnings.simplefilter('ignore')
from joblib import dump, load
import requests
from tqdm import tqdm
import time
import calendar

from time import sleep
import configparser
from dateutil.relativedelta import relativedelta
import datetime
from dateutil.easter import easter
from scipy.optimize import minimize_scalar
from scipy.optimize import curve_fit

%matplotlib inline

In [4]:
import matplotlib.pyplot as plt
plt.rcParams['font.family'] = 'DeJavu Serif'
plt.rcParams['font.serif'] = ['Times New Roman']

In [5]:
#Importing the Libraries

import datetime
import matplotlib
import matplotlib.pyplot as plt
from matplotlib import colors
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from yellowbrick.cluster import KElbowVisualizer
from sklearn.cluster import KMeans
from mpl_toolkits.mplot3d import Axes3D
from sklearn.cluster import AgglomerativeClustering
from matplotlib.colors import ListedColormap
from sklearn import metrics
import warnings
import sys
if not sys.warnoptions:
    warnings.simplefilter("ignore")
np.random.seed(42)

In [6]:
from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()

In [7]:
cust_df = pd.read_csv('customer_table.csv')
cust_df

,PLAYER_ID,AGE,GENDER,HOME_COUNTRY,HOME_CITY,DATE_FIRST_VISIT,DATE_LAST_VISIT,TOTAL_NUMBER_OF_VISITS,TOTAL_DURATION_SPENT,AVERAGE_DURATION_PER_VISIT,TOTAL_CHIPS_WON_OR_LOST,AVERAGE_CHIPS_WON_OR_LOST_PER_VISIT,UNIQUE_GAMES_PLAYED,IS_PREMIUM_PLAYER,IS_LOYALTY_CARD_HOLDER,TOTAL_AMOUNT_SPENT_IN_HOTEL,TOTAL_DAYS_SPENT_HOTEL,TOTAL_AMOUNT_SPENT_IN_CASINO_RESTAURANT,NUMBER_OF_RESTAURANT_VISITS,TOTAL_AMOUNT_SPENT_IN_SPA,NUMBER_OF_SPA_VISITS,TOTAL_REVENUE_TO_CASINO,NUMBER_OF_CONCIERGE_VISITS,PREFERRED_GAME_CATEGORY,PREFERRED_GAME_NAME
0,1,28,Female,India,Hyderabad,02-10-2021,19-08-2024,24,111.17,4.632083,4048,168.666667,8,False,True,26043.68,181,5634.89,111,11490.81,51,39121.38,96,Slot games,Video Slots
1,2,69,Female,Singapore,Singapore,06-09-2021,17-08-2024,24,114.26,4.760833,-2159,-89.958333,10,True,False,28966.09,207,7598.32,105,14077.87,50,52801.28,102,Slot games,3D Slots
2,3,52,Female,Singapore,Singapore,27-11-2021,22-06-2024,17,81.23,4.778235,-419,-24.647059,9,False,False,23593.94,109,4642.91,96,10904.30,35,39560.15,66,Table games,Roulette
3,4,41,Female,India,Delhi,10-10-2021,18-05-2024,17,69.72,4.101176,-246,-14.470588,9,True,False,23461.30,86,5322.28,85,6804.14,36,35833.72,78,Table games,Roulette
4,5,66,Female,UK,Manchester,08-09-2021,01-08-2024,15,70.89,4.726000,-755,-50.333333,8,True,True,24073.65,141,4136.14,63,7313.53,31,36278.32,82,Table games,Poker
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,29,Male,Singapore,Singapore,11-09-2021,30-08-2024,28,119.51,4.268214,-441,-15.750000,11,True,True,24560.35,129,7388.70,166,11911.56,62,44301.61,138,Speciality Number Games,Keno
9996,9997,47,Female,Singapore,Singapore,19-10-2021,28-07-2024,19,102.57,5.398421,1089,57.315789,9,False,False,21510.39,122,5016.20,98,8048.02,37,33485.61,84,Slot games,Video Slots
9997,9998,55,Female,US,Los Angeles,30-09-2021,09-07-2024,19,79.72,4.195789,-1700,-89.473684,11,False,True,31041.60,194,4244.95,101,10212.66,33,47199.21,82,Table games,Craps
9998,9999,51,Male,US,San Jose,11-09-2021,26-08-2024,17,64.82,3.812941,-1995,-117.352941,8,True,True,18119.32,166,4530.26,75,9866.26,29,34510.84,83,Table games,Roulette
9999,10000,77,Male,India,Pune,30-10-2021,12-08-2024,18,87.64,4.868889,-1042,-57.888889,9,True,False,10506.42,139,4896.44,55,8566.78,51,25011.64,79,Table games,Craps

In [8]:
t1_df = pd.read_csv('trx_1.csv')
t2_df = pd.read_csv('trx_2.csv')
t3_df = pd.read_csv('trx_3.csv')

In [9]:
cust_sfdf = my_session.createDataFrame(cust_df)
cust_sfdf.write.mode("overwrite").save_as_table("casino_customers")

ProgrammingError: 090073 (22000): Warehouse 'FOSFOR_SOLUTIONS_WH' cannot be resumed because resource monitor 'FOSFOR_SOLUTIONS_RM' has exceeded its quota.

In [10]:
inter_df = t1_df._append(t2_df,ignore_index=True)
trx_df = inter_df._append(t3_df, ignore_index=True)
trx_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 24 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   TRANSACTION_ID                      200000 non-null  int64
 1   DATE                                200000 non-null  object
 2   PLAYER_ID                           200000 non-null  int64
 3   PLAYER_AGE                          200000 non-null  int64
 4   PLAYER_GENDER                       200000 non-null  object
 5   HOME_COUNTRY                        200000 non-null  object
 6   HOME_CITY                           200000 non-null  object
 7   GAME_CATEGORY                       200000 non-null  object
 8   GAME_NAME                           200000 non-null  object
 9   TABLE_MINIMUM_BET                   200000 non-null  float64
 10  IS_PREMIUM_PLAYER                   200000 non-null  bool
 11  DURATION_SPENT                      200000 non-null  float64
 12  CHIPS_WON_OR_LOST                   200000 non-null  int64
 13  NUMBER_OF_DAYS_SPENT_IN_CASINO      200000 non-null  int64
 14  STAYED_AT_CASINO_HOTEL              200000 non-null  bool
 15  AMOUNT_SPENT_IN_HOTEL_STAY          200000 non-null  float64
 16  NUMBER_OF_DAYS_SPENT_IN_HOTEL       200000 non-null  int64
 17  NUMBER_OF_RESTAURANT_VISITS         200000 non-null  int64
 18  AMOUNT_SPENT_IN_CASINO_RESTAURANT   200000 non-null  float64
 19  NUMBER_OF_CONCIERGE_VISITS          200000 non-null  int64
 20  AMOUNT_SPENT_IN_SPA                 200000 non-null  float64
 21  NUMBER_OF_SPA_VISITS                200000 non-null  int64
 22  IS_LOYALTY_CARD_HOLDER              200000 non-null  bool
 23  REVENUE_MADE_BY_CASINO_FROM_PLAYER  200000 non-null  float64
dtypes: bool(3), float64(6), int64(9), object(6)
memory usage: 32.6+ MB

In [11]:
trx_sfdf = my_session.createDataFrame(trx_df)
trx_sfdf.write.mode("overwrite").save_as_table("casino_transactions")

ProgrammingError: 090073 (22000): Warehouse 'FOSFOR_SOLUTIONS_WH' cannot be resumed because resource monitor 'FOSFOR_SOLUTIONS_RM' has exceeded its quota.

# Reading data from SF

In [16]:
# table_name = 'CASINO_TRANSACTIONS'
# transaction_df = my_session.sql("select * from {}".format(table_name))
# transaction_df = transaction_df.to_pandas()
# type(transaction_df)

transaction_df = trx_df.copy()
transaction_df.columns = [col.upper() for col in transaction_df.columns]

In [17]:
customer_aggregation = transaction_df.groupby('PLAYER_ID').agg(
    DATE_FIRST_VISIT=('DATE', 'min'),
    DATE_LAST_VISIT= ('DATE', 'max'),
    TOTAL_NUMBER_OF_VISITS=('TRANSACTION_ID', 'count'),
    TOTAL_DURATION_SPENT=('DURATION_SPENT', 'sum'),
    AVERAGE_DURATION_PER_VISIT=('DURATION_SPENT', 'mean'),
    TOTAL_CHIPS_WON_OR_LOST=('CHIPS_WON_OR_LOST', 'sum'),
    AVERAGE_CHIPS_WON_OR_LOST_PER_VISIT=('CHIPS_WON_OR_LOST', 'mean'),
    UNIQUE_GAMES_PLAYED=('GAME_NAME', 'nunique'),
    IS_PREMIUM_PLAYER=('IS_PREMIUM_PLAYER', 'max'),
    IS_LOYALTY_CARD_HOLDER=('IS_LOYALTY_CARD_HOLDER', 'max'),
    TOTAL_AMOUNT_SPENT_IN_HOTEL=('AMOUNT_SPENT_IN_HOTEL_STAY', 'sum'),
    TOTAL_DAYS_SPENT_HOTEL=('NUMBER_OF_DAYS_SPENT_IN_HOTEL', 'sum'),
    TOTAL_AMOUNT_SPENT_IN_CASINO_RESTAURANT=('AMOUNT_SPENT_IN_CASINO_RESTAURANT', 'sum'),
    NUMBER_OF_RESTAURANT_VISITS=('NUMBER_OF_RESTAURANT_VISITS', 'sum'),
    TOTAL_AMOUNT_SPENT_IN_SPA=('AMOUNT_SPENT_IN_SPA', 'sum'),
    NUMBER_OF_SPA_VISITS=('NUMBER_OF_SPA_VISITS', 'sum'),
    TOTAL_REVENUE_TO_CASINO=('REVENUE_MADE_BY_CASINO_FROM_PLAYER', 'sum'),
    NUMBER_OF_CONCIERGE_VISITS=('NUMBER_OF_CONCIERGE_VISITS', 'sum')
).reset_index()

In [19]:
customer_aggregation['DATE_FIRST_VISIT'] = pd.to_datetime(customer_aggregation['DATE_FIRST_VISIT'], format = 'mixed')
customer_aggregation['DATE_LAST_VISIT'] = pd.to_datetime(customer_aggregation['DATE_LAST_VISIT'], format = 'mixed')
transaction_df['DATE'] = pd.to_datetime(transaction_df['DATE'], format = 'mixed')

In [20]:
customer_aggregation.head()

,PLAYER_ID,DATE_FIRST_VISIT,DATE_LAST_VISIT,TOTAL_NUMBER_OF_VISITS,TOTAL_DURATION_SPENT,AVERAGE_DURATION_PER_VISIT,TOTAL_CHIPS_WON_OR_LOST,AVERAGE_CHIPS_WON_OR_LOST_PER_VISIT,UNIQUE_GAMES_PLAYED,IS_PREMIUM_PLAYER,IS_LOYALTY_CARD_HOLDER,TOTAL_AMOUNT_SPENT_IN_HOTEL,TOTAL_DAYS_SPENT_HOTEL,TOTAL_AMOUNT_SPENT_IN_CASINO_RESTAURANT,NUMBER_OF_RESTAURANT_VISITS,TOTAL_AMOUNT_SPENT_IN_SPA,NUMBER_OF_SPA_VISITS,TOTAL_REVENUE_TO_CASINO,NUMBER_OF_CONCIERGE_VISITS
0,1,2021-02-09,2024-11-02,16,73.01,4.563125,-665,-41.562500,8,True,True,16761.63,168,4641.46,88,6740.90,30,28808.99,70
1,2,2022-01-10,2024-11-01,17,75.23,4.425294,-575,-33.823529,7,True,False,17606.60,102,4329.05,93,8150.97,32,30661.62,74
2,3,2021-06-09,2024-07-27,18,89.00,4.944444,1052,58.444444,9,False,True,29230.19,186,4920.18,87,9956.91,32,43055.28,64
3,4,2021-01-10,2024-12-02,25,98.67,3.946800,2910,116.400000,9,True,False,34051.70,172,6511.57,119,14235.40,42,51888.67,94
4,5,2021-12-19,2024-05-18,21,90.36,4.302857,878,41.809524,10,True,False,25572.89,124,5895.50,80,9832.29,43,40422.68,67

In [21]:
customer_aggregation[customer_aggregation['DATE_FIRST_VISIT']<customer_aggregation['DATE_LAST_VISIT']]

,PLAYER_ID,DATE_FIRST_VISIT,DATE_LAST_VISIT,TOTAL_NUMBER_OF_VISITS,TOTAL_DURATION_SPENT,AVERAGE_DURATION_PER_VISIT,TOTAL_CHIPS_WON_OR_LOST,AVERAGE_CHIPS_WON_OR_LOST_PER_VISIT,UNIQUE_GAMES_PLAYED,IS_PREMIUM_PLAYER,IS_LOYALTY_CARD_HOLDER,TOTAL_AMOUNT_SPENT_IN_HOTEL,TOTAL_DAYS_SPENT_HOTEL,TOTAL_AMOUNT_SPENT_IN_CASINO_RESTAURANT,NUMBER_OF_RESTAURANT_VISITS,TOTAL_AMOUNT_SPENT_IN_SPA,NUMBER_OF_SPA_VISITS,TOTAL_REVENUE_TO_CASINO,NUMBER_OF_CONCIERGE_VISITS
0,1,2021-02-09,2024-11-02,16,73.01,4.563125,-665,-41.562500,8,True,True,16761.63,168,4641.46,88,6740.90,30,28808.99,70
1,2,2022-01-10,2024-11-01,17,75.23,4.425294,-575,-33.823529,7,True,False,17606.60,102,4329.05,93,8150.97,32,30661.62,74
2,3,2021-06-09,2024-07-27,18,89.00,4.944444,1052,58.444444,9,False,True,29230.19,186,4920.18,87,9956.91,32,43055.28,64
3,4,2021-01-10,2024-12-02,25,98.67,3.946800,2910,116.400000,9,True,False,34051.70,172,6511.57,119,14235.40,42,51888.67,94
4,5,2021-12-19,2024-05-18,21,90.36,4.302857,878,41.809524,10,True,False,25572.89,124,5895.50,80,9832.29,43,40422.68,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,2021-04-11,2024-09-05,28,136.92,4.890000,-5428,-193.857143,9,False,False,31867.03,194,7698.43,89,15559.75,58,60553.21,136
9996,9997,2021-12-26,2024-11-07,15,76.55,5.103333,-123,-8.200000,8,False,False,13506.26,74,3514.64,67,8633.49,37,25777.39,80
9997,9998,2021-02-09,2024-08-21,20,90.47,4.523500,3721,186.050000,9,False,False,32470.08,152,6080.56,101,11276.78,40,46106.42,87
9998,9999,2021-06-11,2024-07-29,19,89.67,4.719474,889,46.789474,7,False,False,15061.38,134,4301.71,102,10924.60,34,29398.69,72
9999,10000,2021-03-09,2024-07-15,25,117.02,4.680800,4901,196.040000,10,True,False,20548.34,153,7188.86,109,16904.35,51,39740.55,117

In [22]:
# Calculating preferred game category and name
preferred_game = transaction_df.groupby(['PLAYER_ID', 'GAME_CATEGORY', 'GAME_NAME','PLAYER_AGE', 'PLAYER_GENDER', 'HOME_COUNTRY', 'HOME_CITY'])['DURATION_SPENT'].sum().reset_index()
preferred_game = preferred_game.loc[preferred_game.groupby('PLAYER_ID')['DURATION_SPENT'].idxmax()][['PLAYER_ID', 'GAME_CATEGORY', 'GAME_NAME', 'PLAYER_AGE', 'PLAYER_GENDER', 'HOME_COUNTRY', 'HOME_CITY']]
preferred_game

,PLAYER_ID,GAME_CATEGORY,GAME_NAME,PLAYER_AGE,PLAYER_GENDER,HOME_COUNTRY,HOME_CITY
1,1,Slot games,Video Slots,28,Female,India,Hyderabad
11,2,Speciality Number Games,Bingo,69,Female,Singapore,Singapore
17,3,Slot games,Video Slots,52,Female,Singapore,Singapore
28,4,Speciality Number Games,Keno,41,Female,India,Delhi
34,5,Slot games,Classic Slots,66,Female,UK,Manchester
...,...,...,...,...,...,...,...
90189,9996,Slot games,3D Slots,29,Male,Singapore,Singapore
90198,9997,Slot games,3D Slots,47,Female,Singapore,Singapore
90210,9998,Speciality Number Games,Keno,55,Female,US,Los Angeles
90216,9999,Slot games,Video Slots,51,Male,US,San Jose
90223,10000,Slot games,Classic Slots,77,Male,India,Pune

In [23]:
customer_aggregation = customer_aggregation.merge(preferred_game, on='PLAYER_ID', how='left')
customer_aggregation

,PLAYER_ID,DATE_FIRST_VISIT,DATE_LAST_VISIT,TOTAL_NUMBER_OF_VISITS,TOTAL_DURATION_SPENT,AVERAGE_DURATION_PER_VISIT,TOTAL_CHIPS_WON_OR_LOST,AVERAGE_CHIPS_WON_OR_LOST_PER_VISIT,UNIQUE_GAMES_PLAYED,IS_PREMIUM_PLAYER,IS_LOYALTY_CARD_HOLDER,TOTAL_AMOUNT_SPENT_IN_HOTEL,TOTAL_DAYS_SPENT_HOTEL,TOTAL_AMOUNT_SPENT_IN_CASINO_RESTAURANT,NUMBER_OF_RESTAURANT_VISITS,TOTAL_AMOUNT_SPENT_IN_SPA,NUMBER_OF_SPA_VISITS,TOTAL_REVENUE_TO_CASINO,NUMBER_OF_CONCIERGE_VISITS,GAME_CATEGORY,GAME_NAME,PLAYER_AGE,PLAYER_GENDER,HOME_COUNTRY,HOME_CITY
0,1,2021-02-09,2024-11-02,16,73.01,4.563125,-665,-41.562500,8,True,True,16761.63,168,4641.46,88,6740.90,30,28808.99,70,Slot games,Video Slots,28,Female,India,Hyderabad
1,2,2022-01-10,2024-11-01,17,75.23,4.425294,-575,-33.823529,7,True,False,17606.60,102,4329.05,93,8150.97,32,30661.62,74,Speciality Number Games,Bingo,69,Female,Singapore,Singapore
2,3,2021-06-09,2024-07-27,18,89.00,4.944444,1052,58.444444,9,False,True,29230.19,186,4920.18,87,9956.91,32,43055.28,64,Slot games,Video Slots,52,Female,Singapore,Singapore
3,4,2021-01-10,2024-12-02,25,98.67,3.946800,2910,116.400000,9,True,False,34051.70,172,6511.57,119,14235.40,42,51888.67,94,Speciality Number Games,Keno,41,Female,India,Delhi
4,5,2021-12-19,2024-05-18,21,90.36,4.302857,878,41.809524,10,True,False,25572.89,124,5895.50,80,9832.29,43,40422.68,67,Slot games,Classic Slots,66,Female,UK,Manchester
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,2021-04-11,2024-09-05,28,136.92,4.890000,-5428,-193.857143,9,False,False,31867.03,194,7698.43,89,15559.75,58,60553.21,136,Slot games,3D Slots,29,Male,Singapore,Singapore
9996,9997,2021-12-26,2024-11-07,15,76.55,5.103333,-123,-8.200000,8,False,False,13506.26,74,3514.64,67,8633.49,37,25777.39,80,Slot games,3D Slots,47,Female,Singapore,Singapore
9997,9998,2021-02-09,2024-08-21,20,90.47,4.523500,3721,186.050000,9,False,False,32470.08,152,6080.56,101,11276.78,40,46106.42,87,Speciality Number Games,Keno,55,Female,US,Los Angeles
9998,9999,2021-06-11,2024-07-29,19,89.67,4.719474,889,46.789474,7,False,False,15061.38,134,4301.71,102,10924.60,34,29398.69,72,Slot games,Video Slots,51,Male,US,San Jose
9999,10000,2021-03-09,2024-07-15,25,117.02,4.680800,4901,196.040000,10,True,False,20548.34,153,7188.86,109,16904.35,51,39740.55,117,Slot games,Classic Slots,77,Male,India,Pune

In [24]:
customer_aggregation.rename(columns= {'PLAYER_AGE':'AGE' , 'PLAYER_GENDER':'GENDER', 'GAME_CATEGORY':'PREFERRED_GAME_CATEGORY', 
                                      'GAME_NAME':'PREFERRED_GAME_NAME'}, inplace= True) 
customer_aggregation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 25 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   PLAYER_ID                                10000 non-null  int64
 1   DATE_FIRST_VISIT                         10000 non-null  datetime64[ns]
 2   DATE_LAST_VISIT                          10000 non-null  datetime64[ns]
 3   TOTAL_NUMBER_OF_VISITS                   10000 non-null  int64
 4   TOTAL_DURATION_SPENT                     10000 non-null  float64
 5   AVERAGE_DURATION_PER_VISIT               10000 non-null  float64
 6   TOTAL_CHIPS_WON_OR_LOST                  10000 non-null  int64
 7   AVERAGE_CHIPS_WON_OR_LOST_PER_VISIT      10000 non-null  float64
 8   UNIQUE_GAMES_PLAYED                      10000 non-null  int64
 9   IS_PREMIUM_PLAYER                        10000 non-null  bool
 10  IS_LOYALTY_CARD_HOLDER                   10000 non-null  bool
 11  TOTAL_AMOUNT_SPENT_IN_HOTEL              10000 non-null  float64
 12  TOTAL_DAYS_SPENT_HOTEL                   10000 non-null  int64
 13  TOTAL_AMOUNT_SPENT_IN_CASINO_RESTAURANT  10000 non-null  float64
 14  NUMBER_OF_RESTAURANT_VISITS              10000 non-null  int64
 15  TOTAL_AMOUNT_SPENT_IN_SPA                10000 non-null  float64
 16  NUMBER_OF_SPA_VISITS                     10000 non-null  int64
 17  TOTAL_REVENUE_TO_CASINO                  10000 non-null  float64
 18  NUMBER_OF_CONCIERGE_VISITS               10000 non-null  int64
 19  PREFERRED_GAME_CATEGORY                  10000 non-null  object
 20  PREFERRED_GAME_NAME                      10000 non-null  object
 21  AGE                                      10000 non-null  int64
 22  GENDER                                   10000 non-null  object
 23  HOME_COUNTRY                             10000 non-null  object
 24  HOME_CITY                                10000 non-null  object
dtypes: bool(2), datetime64[ns](2), float64(7), int64(9), object(5)
memory usage: 1.8+ MB

In [25]:
customer_df = customer_aggregation.copy()

# Data Preparation

In [26]:
# Date transformation data type

customer_df['DATE_FIRST_VISIT'] = pd.to_datetime(customer_df['DATE_FIRST_VISIT'], format = 'mixed')
customer_df['DATE_LAST_VISIT'] = pd.to_datetime(customer_df['DATE_LAST_VISIT'], format = 'mixed')
transaction_df['DATE'] = pd.to_datetime(transaction_df['DATE'], format = 'mixed')

In [27]:
print(customer_df.info())
print(transaction_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 25 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   PLAYER_ID                                10000 non-null  int64
 1   DATE_FIRST_VISIT                         10000 non-null  datetime64[ns]
 2   DATE_LAST_VISIT                          10000 non-null  datetime64[ns]
 3   TOTAL_NUMBER_OF_VISITS                   10000 non-null  int64
 4   TOTAL_DURATION_SPENT                     10000 non-null  float64
 5   AVERAGE_DURATION_PER_VISIT               10000 non-null  float64
 6   TOTAL_CHIPS_WON_OR_LOST                  10000 non-null  int64
 7   AVERAGE_CHIPS_WON_OR_LOST_PER_VISIT      10000 non-null  float64
 8   UNIQUE_GAMES_PLAYED                      10000 non-null  int64
 9   IS_PREMIUM_PLAYER                        10000 non-null  bool
 10  IS_LOYALTY_CARD_HOLDER                   10000 non-null  bool
 11  TOTAL_AMOUNT_SPENT_IN_HOTEL              10000 non-null  float64
 12  TOTAL_DAYS_SPENT_HOTEL                   10000 non-null  int64
 13  TOTAL_AMOUNT_SPENT_IN_CASINO_RESTAURANT  10000 non-null  float64
 14  NUMBER_OF_RESTAURANT_VISITS              10000 non-null  int64
 15  TOTAL_AMOUNT_SPENT_IN_SPA                10000 non-null  float64
 16  NUMBER_OF_SPA_VISITS                     10000 non-null  int64
 17  TOTAL_REVENUE_TO_CASINO                  10000 non-null  float64
 18  NUMBER_OF_CONCIERGE_VISITS               10000 non-null  int64
 19  PREFERRED_GAME_CATEGORY                  10000 non-null  object
 20  PREFERRED_GAME_NAME                      10000 non-null  object
 21  AGE                                      10000 non-null  int64
 22  GENDER                                   10000 non-null  object
 23  HOME_COUNTRY                             10000 non-null  object
 24  HOME_CITY                                10000 non-null  object
dtypes: bool(2), datetime64[ns](2), float64(7), int64(9), object(5)
memory usage: 1.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 24 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   TRANSACTION_ID                      200000 non-null  int64
 1   DATE                                200000 non-null  datetime64[ns]
 2   PLAYER_ID                           200000 non-null  int64
 3   PLAYER_AGE                          200000 non-null  int64
 4   PLAYER_GENDER                       200000 non-null  object
 5   HOME_COUNTRY                        200000 non-null  object
 6   HOME_CITY                           200000 non-null  object
 7   GAME_CATEGORY                       200000 non-null  object
 8   GAME_NAME                           200000 non-null  object
 9   TABLE_MINIMUM_BET                   200000 non-null  float64
 10  IS_PREMIUM_PLAYER                   200000 non-null  bool
 11  DURATION_SPENT                      200000 non-null  float64
 12  CHIPS_WON_OR_LOST                   200000 non-null  int64
 13  NUMBER_OF_DAYS_SPENT_IN_CASINO      200000 non-null  int64
 14  STAYED_AT_CASINO_HOTEL              200000 non-null  bool
 15  AMOUNT_SPENT_IN_HOTEL_STAY          200000 non-null  float64
 16  NUMBER_OF_DAYS_SPENT_IN_HOTEL       200000 non-null  int64
 17  NUMBER_OF_RESTAURANT_VISITS         200000 non-null  int64
 18  AMOUNT_SPENT_IN_CASINO_RESTAURANT   200000 non-null  float64
 19  NUMBER_OF_CONCIERGE_VISITS          200000 non-null  int64
 20  AMOUNT_SPENT_IN_SPA                 200000 non-null  float64
 21  NUMBER_OF_SPA_VISITS                200000 non-null  int64
 22  IS_LOYALTY_CARD_HOLDER              200000 non-null  bool
 23  REVENUE_MADE_BY_CASINO_FROM_PLAYER  200000 non-null  float64
dtypes: bool(3), datetime64[ns](1), float64(6), int64(9), object(5)
memory usage: 32.6+ MB
None

In [28]:
# Adding new features for better classification
customer_df['VISIT_FREQUENCY'] = customer_df['TOTAL_NUMBER_OF_VISITS'] / ((pd.to_datetime(customer_df['DATE_LAST_VISIT']) - 
                                                                           pd.to_datetime(customer_df['DATE_FIRST_VISIT'])).dt.days + 1)

In [29]:
#Get list of categorical variables
s = (customer_df.dtypes == 'object')
object_cols = list(s[s].index)

print("Categorical variables in the dataset:", object_cols)

Categorical variables in the dataset: ['PREFERRED_GAME_CATEGORY', 'PREFERRED_GAME_NAME', 'GENDER', 'HOME_COUNTRY', 'HOME_CITY']

In [30]:
#Label Encoding the object dtypes.
LE=LabelEncoder()
for i in object_cols:
    customer_df[i]=customer_df[[i]].apply(LE.fit_transform)
    
print("All features are now numerical")

All features are now numerical

In [31]:
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 26 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   PLAYER_ID                                10000 non-null  int64
 1   DATE_FIRST_VISIT                         10000 non-null  datetime64[ns]
 2   DATE_LAST_VISIT                          10000 non-null  datetime64[ns]
 3   TOTAL_NUMBER_OF_VISITS                   10000 non-null  int64
 4   TOTAL_DURATION_SPENT                     10000 non-null  float64
 5   AVERAGE_DURATION_PER_VISIT               10000 non-null  float64
 6   TOTAL_CHIPS_WON_OR_LOST                  10000 non-null  int64
 7   AVERAGE_CHIPS_WON_OR_LOST_PER_VISIT      10000 non-null  float64
 8   UNIQUE_GAMES_PLAYED                      10000 non-null  int64
 9   IS_PREMIUM_PLAYER                        10000 non-null  bool
 10  IS_LOYALTY_CARD_HOLDER                   10000 non-null  bool
 11  TOTAL_AMOUNT_SPENT_IN_HOTEL              10000 non-null  float64
 12  TOTAL_DAYS_SPENT_HOTEL                   10000 non-null  int64
 13  TOTAL_AMOUNT_SPENT_IN_CASINO_RESTAURANT  10000 non-null  float64
 14  NUMBER_OF_RESTAURANT_VISITS              10000 non-null  int64
 15  TOTAL_AMOUNT_SPENT_IN_SPA                10000 non-null  float64
 16  NUMBER_OF_SPA_VISITS                     10000 non-null  int64
 17  TOTAL_REVENUE_TO_CASINO                  10000 non-null  float64
 18  NUMBER_OF_CONCIERGE_VISITS               10000 non-null  int64
 19  PREFERRED_GAME_CATEGORY                  10000 non-null  int64
 20  PREFERRED_GAME_NAME                      10000 non-null  int64
 21  AGE                                      10000 non-null  int64
 22  GENDER                                   10000 non-null  int64
 23  HOME_COUNTRY                             10000 non-null  int64
 24  HOME_CITY                                10000 non-null  int64
 25  VISIT_FREQUENCY                          10000 non-null  float64
dtypes: bool(2), datetime64[ns](2), float64(8), int64(14)
memory usage: 1.9 MB

In [32]:
print(customer_df.max(axis=0)) # will return max value of each column
print(customer_df.min(axis=0)) # will return min value of each column

PLAYER_ID                                                10000
DATE_FIRST_VISIT                           2023-03-26 00:00:00
DATE_LAST_VISIT                            2024-12-08 00:00:00
TOTAL_NUMBER_OF_VISITS                                      38
TOTAL_DURATION_SPENT                                    176.18
AVERAGE_DURATION_PER_VISIT                            6.264615
TOTAL_CHIPS_WON_OR_LOST                                   9526
AVERAGE_CHIPS_WON_OR_LOST_PER_VISIT                 503.642857
UNIQUE_GAMES_PLAYED                                         11
IS_PREMIUM_PLAYER                                         True
IS_LOYALTY_CARD_HOLDER                                    True
TOTAL_AMOUNT_SPENT_IN_HOTEL                           68940.17
TOTAL_DAYS_SPENT_HOTEL                                     377
TOTAL_AMOUNT_SPENT_IN_CASINO_RESTAURANT               10916.06
NUMBER_OF_RESTAURANT_VISITS                                204
TOTAL_AMOUNT_SPENT_IN_SPA                             22660.98
NUMBER_OF_SPA_VISITS                                        87
TOTAL_REVENUE_TO_CASINO                               93250.53
NUMBER_OF_CONCIERGE_VISITS                                 189
PREFERRED_GAME_CATEGORY                                      2
PREFERRED_GAME_NAME                                         10
AGE                                                         80
GENDER                                                       1
HOME_COUNTRY                                                 3
HOME_CITY                                                   30
VISIT_FREQUENCY                                       0.035088
dtype: object
PLAYER_ID                                                    1
DATE_FIRST_VISIT                           2021-01-09 00:00:00
DATE_LAST_VISIT                            2023-01-08 00:00:00
TOTAL_NUMBER_OF_VISITS                                       5
TOTAL_DURATION_SPENT                                      16.7
AVERAGE_DURATION_PER_VISIT                               2.718
TOTAL_CHIPS_WON_OR_LOST                                  -9762
AVERAGE_CHIPS_WON_OR_LOST_PER_VISIT                -524.333333
UNIQUE_GAMES_PLAYED                                          3
IS_PREMIUM_PLAYER                                        False
IS_LOYALTY_CARD_HOLDER                                   False
TOTAL_AMOUNT_SPENT_IN_HOTEL                             220.61
TOTAL_DAYS_SPENT_HOTEL                                       3
TOTAL_AMOUNT_SPENT_IN_CASINO_RESTAURANT                 828.12
NUMBER_OF_RESTAURANT_VISITS                                 17
TOTAL_AMOUNT_SPENT_IN_SPA                              2485.53
NUMBER_OF_SPA_VISITS                                         5
TOTAL_REVENUE_TO_CASINO                                5668.59
NUMBER_OF_CONCIERGE_VISITS                                  10
PREFERRED_GAME_CATEGORY                                      0
PREFERRED_GAME_NAME                                          0
AGE                                                         21
GENDER                                                       0
HOME_COUNTRY                                                 0
HOME_CITY                                                    0
VISIT_FREQUENCY                                       0.005263
dtype: object

In [33]:
print(customer_df.mean(axis=0)) # will return min value of each column

PLAYER_ID                                                      5000.5
DATE_FIRST_VISIT                           2021-08-11 17:33:56.160000
DATE_LAST_VISIT                            2024-08-20 14:53:57.120000
TOTAL_NUMBER_OF_VISITS                                           20.0
TOTAL_DURATION_SPENT                                        90.132173
AVERAGE_DURATION_PER_VISIT                                   4.506848
TOTAL_CHIPS_WON_OR_LOST                                       -3.9898
AVERAGE_CHIPS_WON_OR_LOST_PER_VISIT                          0.026963
UNIQUE_GAMES_PLAYED                                            9.0232
IS_PREMIUM_PLAYER                                              0.2513
IS_LOYALTY_CARD_HOLDER                                         0.2466
TOTAL_AMOUNT_SPENT_IN_HOTEL                               25496.13566
TOTAL_DAYS_SPENT_HOTEL                                       150.0237
TOTAL_AMOUNT_SPENT_IN_CASINO_RESTAURANT                    5201.60096
NUMBER_OF_RESTAURANT_VISITS                                   89.8624
TOTAL_AMOUNT_SPENT_IN_SPA                                10201.299568
NUMBER_OF_SPA_VISITS                                          39.9739
TOTAL_REVENUE_TO_CASINO                                  40903.025988
NUMBER_OF_CONCIERGE_VISITS                                    90.0534
PREFERRED_GAME_CATEGORY                                        0.7841
PREFERRED_GAME_NAME                                            5.0602
AGE                                                           60.3392
GENDER                                                         0.5009
HOME_COUNTRY                                                    1.505
HOME_CITY                                                     18.1935
VISIT_FREQUENCY                                               0.01825
dtype: object

In [ ]:
# sf_df = my_session.createDataFrame(customer_df)
# sf_df.write.mode("overwrite").save_as_table("CASINO_CUSTOMERS")
# my_session.table("CASINO_CUSTOMERS").show()

In [34]:
customer_df.head()

,PLAYER_ID,DATE_FIRST_VISIT,DATE_LAST_VISIT,TOTAL_NUMBER_OF_VISITS,TOTAL_DURATION_SPENT,AVERAGE_DURATION_PER_VISIT,TOTAL_CHIPS_WON_OR_LOST,AVERAGE_CHIPS_WON_OR_LOST_PER_VISIT,UNIQUE_GAMES_PLAYED,IS_PREMIUM_PLAYER,IS_LOYALTY_CARD_HOLDER,TOTAL_AMOUNT_SPENT_IN_HOTEL,TOTAL_DAYS_SPENT_HOTEL,TOTAL_AMOUNT_SPENT_IN_CASINO_RESTAURANT,NUMBER_OF_RESTAURANT_VISITS,TOTAL_AMOUNT_SPENT_IN_SPA,NUMBER_OF_SPA_VISITS,TOTAL_REVENUE_TO_CASINO,NUMBER_OF_CONCIERGE_VISITS,PREFERRED_GAME_CATEGORY,PREFERRED_GAME_NAME,AGE,GENDER,HOME_COUNTRY,HOME_CITY,VISIT_FREQUENCY
0,1,2021-02-09,2024-11-02,16,73.01,4.563125,-665,-41.562500,8,True,True,16761.63,168,4641.46,88,6740.90,30,28808.99,70,0,9,28,0,0,12,0.011739
1,2,2022-01-10,2024-11-01,17,75.23,4.425294,-575,-33.823529,7,True,False,17606.60,102,4329.05,93,8150.97,32,30661.62,74,1,2,69,0,1,29,0.016553
2,3,2021-06-09,2024-07-27,18,89.00,4.944444,1052,58.444444,9,False,True,29230.19,186,4920.18,87,9956.91,32,43055.28,64,0,9,52,0,1,29,0.015721
3,4,2021-01-10,2024-12-02,25,98.67,3.946800,2910,116.400000,9,True,False,34051.70,172,6511.57,119,14235.40,42,51888.67,94,1,6,41,0,0,8,0.017569
4,5,2021-12-19,2024-05-18,21,90.36,4.302857,878,41.809524,10,True,False,25572.89,124,5895.50,80,9832.29,43,40422.68,67,0,4,66,0,2,19,0.023810

In [36]:
#Creating a copy of data
ds = customer_df.copy()
# creating a subset of dataframe by dropping
cols_del = ['DATE_FIRST_VISIT', 'DATE_LAST_VISIT']
ds = ds.drop(cols_del, axis=1)

#Scaling
scaler = StandardScaler()
scaler.fit(ds)
scaled_ds = pd.DataFrame(scaler.transform(ds),columns= ds.columns )
print("All features are now scaled")

All features are now scaled

In [37]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 24 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   PLAYER_ID                                10000 non-null  int64
 1   TOTAL_NUMBER_OF_VISITS                   10000 non-null  int64
 2   TOTAL_DURATION_SPENT                     10000 non-null  float64
 3   AVERAGE_DURATION_PER_VISIT               10000 non-null  float64
 4   TOTAL_CHIPS_WON_OR_LOST                  10000 non-null  int64
 5   AVERAGE_CHIPS_WON_OR_LOST_PER_VISIT      10000 non-null  float64
 6   UNIQUE_GAMES_PLAYED                      10000 non-null  int64
 7   IS_PREMIUM_PLAYER                        10000 non-null  bool
 8   IS_LOYALTY_CARD_HOLDER                   10000 non-null  bool
 9   TOTAL_AMOUNT_SPENT_IN_HOTEL              10000 non-null  float64
 10  TOTAL_DAYS_SPENT_HOTEL                   10000 non-null  int64
 11  TOTAL_AMOUNT_SPENT_IN_CASINO_RESTAURANT  10000 non-null  float64
 12  NUMBER_OF_RESTAURANT_VISITS              10000 non-null  int64
 13  TOTAL_AMOUNT_SPENT_IN_SPA                10000 non-null  float64
 14  NUMBER_OF_SPA_VISITS                     10000 non-null  int64
 15  TOTAL_REVENUE_TO_CASINO                  10000 non-null  float64
 16  NUMBER_OF_CONCIERGE_VISITS               10000 non-null  int64
 17  PREFERRED_GAME_CATEGORY                  10000 non-null  int64
 18  PREFERRED_GAME_NAME                      10000 non-null  int64
 19  AGE                                      10000 non-null  int64
 20  GENDER                                   10000 non-null  int64
 21  HOME_COUNTRY                             10000 non-null  int64
 22  HOME_CITY                                10000 non-null  int64
 23  VISIT_FREQUENCY                          10000 non-null  float64
dtypes: bool(2), float64(8), int64(14)
memory usage: 1.7 MB