## Installing packages

In [ ]:
!pip install --upgrade pip
!pip install "snowflake-connector-python[pandas]" "snowflake-snowpark-python[pandas]" snowflake-snowpark-python==1.9.0 numpy pandas matplotlib scikit-learn xgboost seaborn python-dateutil tqdm holidays faker
!pip install --upgrade --q snowflake-snowpark-python==1.9.0
!pip uninstall urllib3 -y
!pip install urllib3==1.26.15
!pip install fosforml==1.1.6

## Importing packages

In [1]:
from fosforml import *
from fosforml.constants import MLModelFlavours
from matplotlib import pyplot as plt
import pandas as pd
pd.set_option('display.max_columns', 500)
import seaborn as sns
from sklearn.metrics import mean_absolute_percentage_error
import numpy as np
import warnings; warnings.simplefilter('ignore')
from joblib import dump, load
import requests
from tqdm import tqdm
import time
import calendar

from time import sleep
import configparser
from dateutil.relativedelta import relativedelta
import datetime
from dateutil.easter import easter
from scipy.optimize import minimize_scalar
from scipy.optimize import curve_fit

%matplotlib inline

## Getting data from Github and moving to SF

In [ ]:
# URL of the CSV file on GitHub
#url = 'https://github.com/aksh301091/fdc_akshaya_git/blob/91a0b3faf99492355d3816919fbf79de434926c3/ME_CASINO_PRJ/customer_table.csv'
#'https://raw.githubusercontent.com/username/repository/branch/filename.csv'

In [2]:
from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()

In [3]:
# Read the CSV file into a DataFrame
cust_df = pd.read_csv('customer_table.csv')
#trx_df = pd.read_csv('transaction_table.csv')

#cust_df.info()

In [7]:
t1_df = pd.read_csv('trx_1.csv')
t2_df = pd.read_csv('trx_2.csv')
t3_df = pd.read_csv('trx_3.csv')

In [5]:
type(cust_df)

pandas.core.frame.DataFrame

In [ ]:
cust_sfdf = my_session.createDataFrame(cust_df)
cust_sfdf.write.mode("overwrite").save_as_table("casino_customers")
#my_session.table("casino_customers").show()

In [11]:
#inter_df = pd.concat([t1_df, t2_df, t2_df, ignore_index=True)
inter_df = t1_df._append(t2_df,ignore_index=True)

#for trx_df in (t1_df, t2_df, t3_df):
#    trx_df =  trx_df.append(df, ignore_index=True)
#trx_df

In [12]:
trx_df = inter_df._append(t3_df, ignore_index=True)

In [15]:
trx_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 24 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   TRANSACTION_ID                      200000 non-null  int64
 1   DATE                                200000 non-null  object
 2   PLAYER_ID                           200000 non-null  int64
 3   PLAYER_AGE                          200000 non-null  int64
 4   PLAYER_GENDER                       200000 non-null  object
 5   HOME_COUNTRY                        200000 non-null  object
 6   HOME_CITY                           200000 non-null  object
 7   GAME_CATEGORY                       200000 non-null  object
 8   GAME_NAME                           200000 non-null  object
 9   TABLE_MINIMUM_BET                   200000 non-null  float64
 10  IS_PREMIUM_PLAYER                   200000 non-null  bool
 11  DURATION_SPENT                      200000 non-null  float64
 12  CHIPS_WON_OR_LOST                   200000 non-null  int64
 13  NUMBER_OF_DAYS_SPENT_IN_CASINO      200000 non-null  int64
 14  STAYED_AT_CASINO_HOTEL              200000 non-null  bool
 15  AMOUNT_SPENT_IN_HOTEL_STAY          200000 non-null  float64
 16  NUMBER_OF_DAYS_SPENT_IN_HOTEL       200000 non-null  int64
 17  NUMBER_OF_RESTAURANT_VISITS         200000 non-null  int64
 18  AMOUNT_SPENT_IN_CASINO_RESTAURANT   200000 non-null  float64
 19  NUMBER_OF_CONCIERGE_VISITS          200000 non-null  int64
 20  AMOUNT_SPENT_IN_SPA                 200000 non-null  float64
 21  NUMBER_OF_SPA_VISITS                200000 non-null  int64
 22  IS_LOYALTY_CARD_HOLDER              200000 non-null  bool
 23  REVENUE_MADE_BY_CASINO_FROM_PLAYER  200000 non-null  float64
dtypes: bool(3), float64(6), int64(9), object(6)
memory usage: 32.6+ MB

In [14]:
trx_sfdf = my_session.createDataFrame(trx_df)
trx_sfdf.write.mode("overwrite").save_as_table("casino_transactions")

In [16]:
## Reading data from SF 

table_name = 'CASINO_CUSTOMERS'
customer_df = my_session.sql("select * from {}".format(table_name))
customer_df = customer_df.to_pandas()
type(customer_df)

pandas.core.frame.DataFrame

In [17]:
table_name = 'CASINO_TRANSACTIONS'
transaction_df = my_session.sql("select * from {}".format(table_name))
transaction_df = transaction_df.to_pandas()
type(transaction_df)

pandas.core.frame.DataFrame

## Data Exploration

In [18]:
# Descriptive statistics for customer data
print(customer_df.describe(include='all'))
print(transaction_df.describe(include='all'))

          PLAYER_ID           AGE GENDER HOME_COUNTRY  HOME_CITY  \
count   10000.00000  10000.000000  10000        10000      10000
unique          NaN           NaN      2            4         31
top             NaN           NaN   Male           US  Singapore
freq            NaN           NaN   5009         2527       2485
mean     5000.50000     60.339200    NaN          NaN        NaN
std      2886.89568     14.311612    NaN          NaN        NaN
min         1.00000     21.000000    NaN          NaN        NaN
25%      2500.75000     50.000000    NaN          NaN        NaN
50%      5000.50000     63.000000    NaN          NaN        NaN
75%      7500.25000     73.000000    NaN          NaN        NaN
max     10000.00000     80.000000    NaN          NaN        NaN

       DATE_FIRST_VISIT DATE_LAST_VISIT  TOTAL_NUMBER_OF_VISITS  \
count             10000           10000            10000.000000
unique              326             316                     NaN
top          04-09-2021      31-08-2024                     NaN
freq                185             183                     NaN
mean                NaN             NaN               20.000000
std                 NaN             NaN                4.471979
min                 NaN             NaN                4.000000
25%                 NaN             NaN               17.000000
50%                 NaN             NaN               20.000000
75%                 NaN             NaN               23.000000
max                 NaN             NaN               39.000000

        TOTAL_DURATION_SPENT  AVERAGE_DURATION_PER_VISIT  \
count           10000.000000                10000.000000
unique                   NaN                         NaN
top                      NaN                         NaN
freq                     NaN                         NaN
mean               90.082227                    4.505063
std                22.026645                    0.460744
min                19.720000                    2.885000
25%                74.875000                    4.200616
50%                89.070000                    4.501909
75%               104.142500                    4.816719
max               205.260000                    6.232667

        TOTAL_CHIPS_WON_OR_LOST  AVERAGE_CHIPS_WON_OR_LOST_PER_VISIT  \
count              10000.000000                         10000.000000
unique                      NaN                                  NaN
top                         NaN                                  NaN
freq                        NaN                                  NaN
mean                   1.927600                             0.134854
std                 2596.590549                           133.876720
min                -9855.000000                          -585.937500
25%                -1740.250000                           -88.811688
50%                   -4.000000                            -0.187643
75%                 1759.000000                            88.430804
max                11881.000000                           756.000000

        UNIQUE_GAMES_PLAYED IS_PREMIUM_PLAYER IS_LOYALTY_CARD_HOLDER  \
count          10000.000000             10000                  10000
unique                  NaN                 2                      2
top                     NaN              True                  False
freq                    NaN              5025                   5036
mean               9.023000               NaN                    NaN
std                1.254603               NaN                    NaN
min                3.000000               NaN                    NaN
25%                8.000000               NaN                    NaN
50%                9.000000               NaN                    NaN
75%               10.000000               NaN                    NaN
max               11.000000               NaN                    NaN

        TOTAL_AMOUNT_SPENT_IN_HOTEL  TOTAL_DAYS_SPENT_HOTEL  \
count                  10000.000000            10000.000000
unique                          NaN                     NaN
top                             NaN                     NaN
freq                            NaN                     NaN
mean                   25465.935600              150.311100
std                     9100.190473               53.986837
min                      568.630000               10.000000
25%                    18987.925000              112.000000
50%                    24699.060000              146.000000
75%                    31218.545000              185.000000
max                    71594.790000              440.000000

        TOTAL_AMOUNT_SPENT_IN_CASINO_RESTAURANT  NUMBER_OF_RESTAURANT_VISITS  \
count                              10000.000000                 10000.000000
unique                                      NaN                          NaN
top                                         NaN                          NaN
freq                                        NaN                          NaN
mean                                5205.477534                    89.860500
std                                 1323.069707                    23.808631
min                                 1018.320000                    12.000000
25%                                 4282.287500                    73.000000
50%                                 5143.380000                    89.000000
75%                                 6058.717500                   105.000000
max                                10803.050000                   196.000000

        TOTAL_AMOUNT_SPENT_IN_SPA  NUMBER_OF_SPA_VISITS  \
count                10000.000000          10000.000000
unique                        NaN                   NaN
top                           NaN                   NaN
freq                          NaN                   NaN
mean                 10208.786923             39.937900
std                   2604.160190             10.902006
min                   1195.830000              2.000000
25%                   8355.702500             32.000000
50%                  10064.780000             39.000000
75%                  11919.260000             47.000000
max                  21891.020000             88.000000

        TOTAL_REVENUE_TO_CASINO  NUMBER_OF_CONCIERGE_VISITS  \
count              10000.000000                 10000.00000
unique                      NaN                         NaN
top                         NaN                         NaN
freq                        NaN                         NaN
mean               40878.272457                    90.00840
std                11944.013856                    23.79098
min                 3568.520000                    19.00000
25%                32407.655000                    73.00000
50%                39989.640000                    89.00000
75%                48573.185000                   105.00000
max                98707.610000                   200.00000

        PREFERRED_GAME_CATEGORY PREFERRED_GAME_NAME
count                     10000               10000
unique                        3                  11
top     Speciality Number Games         Video Slots
freq                       4073                1407
mean                        NaN                 NaN
std                         NaN                 NaN
min                         NaN                 NaN
25%                         NaN                 NaN
50%                         NaN                 NaN
75%                         NaN                 NaN
max                         NaN                 NaN
        TRANSACTION_ID        DATE      PLAYER_ID     PLAYER_AGE  \
count    200000.000000      200000  200000.000000  200000.000000
unique             NaN        1096            NaN            NaN
top                NaN  04-05-2023            NaN            NaN
freq               NaN         232            NaN            NaN
mean     100000.500000         NaN    4996.881615      60.376765
std       57735.171256         NaN    2885.392724      14.283124
min           1.000000         NaN       1.000000      21.000000
25%       50000.750000         NaN    2497.000000      50.000000
50%      100000.500000         NaN    4991.000000      63.000000
75%      150000.250000         NaN    7495.000000      73.000000
max      200000.000000         NaN   10000.000000      80.000000

       PLAYER_GENDER HOME_COUNTRY  HOME_CITY            GAME_CATEGORY  \
count         200000       200000     200000                   200000
unique             2            4         31                        3
top           Female           US  Singapore  Speciality Number Games
freq          100078        50743      49363                    66780
mean             NaN          NaN        NaN                      NaN
std              NaN          NaN        NaN                      NaN
min              NaN          NaN        NaN                      NaN
25%              NaN          NaN        NaN                      NaN
50%              NaN          NaN        NaN                      NaN
75%              NaN          NaN        NaN                      NaN
max              NaN          NaN        NaN                      NaN

               GAME_NAME  TABLE_MINIMUM_BET IS_PREMIUM_PLAYER  DURATION_SPENT  \
count             200000      200000.000000            200000   200000.000000
unique                11                NaN                 2             NaN
top     Wheel of Fortune                NaN             False             NaN
freq               22348                NaN            149570             NaN
mean                 NaN         502.600009               NaN        4.506609
std                  NaN         287.336201               NaN        2.023435
min                  NaN           5.010000               NaN        1.000000
25%                  NaN         253.697500               NaN        2.750000
50%                  NaN         502.465000               NaN        4.510000
75%                  NaN         751.392500               NaN        6.260000
max                  NaN        1000.000000               NaN        8.000000

        CHIPS_WON_OR_LOST  NUMBER_OF_DAYS_SPENT_IN_CASINO  \
count       200000.000000                    200000.00000
unique                NaN                             NaN
top                   NaN                             NaN
freq                  NaN                             NaN
mean            -0.199490                        15.00081
std            577.246275                         8.35674
min          -1000.000000                         1.00000
25%           -500.000000                         8.00000
50%              0.000000                        15.00000
75%            500.000000                        22.00000
max            999.000000                        29.00000

       STAYED_AT_CASINO_HOTEL  AMOUNT_SPENT_IN_HOTEL_STAY  \
count                  200000               200000.000000
unique                      2                         NaN
top                      True                         NaN
freq                   100048                         NaN
mean                      NaN                 1274.806783
std                       NaN                 1620.430050
min                       NaN                    0.000000
25%                       NaN                    0.000000
50%                       NaN                  101.935000
75%                       NaN                 2550.895000
max                       NaN                 4999.960000

        NUMBER_OF_DAYS_SPENT_IN_HOTEL  NUMBER_OF_RESTAURANT_VISITS  \
count                   200000.000000                200000.000000
unique                            NaN                          NaN
top                               NaN                          NaN
freq                              NaN                          NaN
mean                         7.501185                     4.493120
std                          9.546370                     2.875252
min                          0.000000                     0.000000
25%                          0.000000                     2.000000
50%                          1.000000                     4.000000
75%                         15.000000                     7.000000
max                         29.000000                     9.000000

        AMOUNT_SPENT_IN_CASINO_RESTAURANT  NUMBER_OF_CONCIERGE_VISITS  \
count                       200000.000000               200000.000000
unique                                NaN                         NaN
top                                   NaN                         NaN
freq                                  NaN                         NaN
mean                           260.080048                    4.502670
std                            138.793711                    2.873365
min                             20.000000                    0.000000
25%                            139.517500                    2.000000
50%                            259.790000                    4.000000
75%                            380.570000                    7.000000
max                            500.000000                    9.000000

        AMOUNT_SPENT_IN_SPA  NUMBER_OF_SPA_VISITS IS_LOYALTY_CARD_HOLDER  \
count         200000.000000         200000.000000                 200000
unique                  NaN                   NaN                      2
top                     NaN                   NaN                  False
freq                    NaN                   NaN                 150817
mean             510.064978              1.998695                    NaN
std              282.538081              1.412067                    NaN
min               20.000000              0.000000                    NaN
25%              266.190000              1.000000                    NaN
50%              509.865000              2.000000                    NaN
75%              754.312500              3.000000                    NaN
max             1000.000000              4.000000                    NaN

        REVENUE_MADE_BY_CASINO_FROM_PLAYER
count                        200000.000000
unique                                 NaN
top                                    NaN
freq                                   NaN
mean                           2045.151299
std                            1748.254098
min                            -938.510000
25%                             690.732500
50%                            1524.325000
75%                            3323.652500
max                            7356.870000

In [19]:
# Info about dataframe
print(customer_df.info())
print(transaction_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 25 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   PLAYER_ID                                10000 non-null  int16
 1   AGE                                      10000 non-null  int8
 2   GENDER                                   10000 non-null  object
 3   HOME_COUNTRY                             10000 non-null  object
 4   HOME_CITY                                10000 non-null  object
 5   DATE_FIRST_VISIT                         10000 non-null  object
 6   DATE_LAST_VISIT                          10000 non-null  object
 7   TOTAL_NUMBER_OF_VISITS                   10000 non-null  int8
 8   TOTAL_DURATION_SPENT                     10000 non-null  float64
 9   AVERAGE_DURATION_PER_VISIT               10000 non-null  float64
 10  TOTAL_CHIPS_WON_OR_LOST                  10000 non-null  int16
 11  AVERAGE_CHIPS_WON_OR_LOST_PER_VISIT      10000 non-null  float64
 12  UNIQUE_GAMES_PLAYED                      10000 non-null  int8
 13  IS_PREMIUM_PLAYER                        10000 non-null  bool
 14  IS_LOYALTY_CARD_HOLDER                   10000 non-null  bool
 15  TOTAL_AMOUNT_SPENT_IN_HOTEL              10000 non-null  float64
 16  TOTAL_DAYS_SPENT_HOTEL                   10000 non-null  int16
 17  TOTAL_AMOUNT_SPENT_IN_CASINO_RESTAURANT  10000 non-null  float64
 18  NUMBER_OF_RESTAURANT_VISITS              10000 non-null  int16
 19  TOTAL_AMOUNT_SPENT_IN_SPA                10000 non-null  float64
 20  NUMBER_OF_SPA_VISITS                     10000 non-null  int8
 21  TOTAL_REVENUE_TO_CASINO                  10000 non-null  float64
 22  NUMBER_OF_CONCIERGE_VISITS               10000 non-null  int16
 23  PREFERRED_GAME_CATEGORY                  10000 non-null  object
 24  PREFERRED_GAME_NAME                      10000 non-null  object
dtypes: bool(2), float64(7), int16(5), int8(4), object(7)
memory usage: 1.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 24 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   TRANSACTION_ID                      200000 non-null  int32
 1   DATE                                200000 non-null  object
 2   PLAYER_ID                           200000 non-null  int16
 3   PLAYER_AGE                          200000 non-null  int8
 4   PLAYER_GENDER                       200000 non-null  object
 5   HOME_COUNTRY                        200000 non-null  object
 6   HOME_CITY                           200000 non-null  object
 7   GAME_CATEGORY                       200000 non-null  object
 8   GAME_NAME                           200000 non-null  object
 9   TABLE_MINIMUM_BET                   200000 non-null  float64
 10  IS_PREMIUM_PLAYER                   200000 non-null  bool
 11  DURATION_SPENT                      200000 non-null  float64
 12  CHIPS_WON_OR_LOST                   200000 non-null  int16
 13  NUMBER_OF_DAYS_SPENT_IN_CASINO      200000 non-null  int8
 14  STAYED_AT_CASINO_HOTEL              200000 non-null  bool
 15  AMOUNT_SPENT_IN_HOTEL_STAY          200000 non-null  float64
 16  NUMBER_OF_DAYS_SPENT_IN_HOTEL       200000 non-null  int8
 17  NUMBER_OF_RESTAURANT_VISITS         200000 non-null  int8
 18  AMOUNT_SPENT_IN_CASINO_RESTAURANT   200000 non-null  float64
 19  NUMBER_OF_CONCIERGE_VISITS          200000 non-null  int8
 20  AMOUNT_SPENT_IN_SPA                 200000 non-null  float64
 21  NUMBER_OF_SPA_VISITS                200000 non-null  int8
 22  IS_LOYALTY_CARD_HOLDER              200000 non-null  bool
 23  REVENUE_MADE_BY_CASINO_FROM_PLAYER  200000 non-null  float64
dtypes: bool(3), float64(6), int16(2), int32(1), int8(6), object(6)
memory usage: 21.6+ MB
None