## Installing packages

In [ ]:
!pip install --upgrade pip
!pip install "snowflake-connector-python[pandas]" "snowflake-snowpark-python[pandas]" snowflake-snowpark-python==1.9.0 numpy pandas matplotlib scikit-learn xgboost seaborn python-dateutil tqdm holidays faker
!pip install --upgrade --q snowflake-snowpark-python==1.9.0
!pip uninstall urllib3 -y
!pip install urllib3==1.26.15
!pip install fosforml==1.1.6

## Importing packages

In [1]:
from fosforml import *
from fosforml.constants import MLModelFlavours
from matplotlib import pyplot as plt
import pandas as pd
pd.set_option('display.max_columns', 500)
import seaborn as sns
from sklearn.metrics import mean_absolute_percentage_error
import numpy as np
import warnings; warnings.simplefilter('ignore')
from joblib import dump, load
import requests
from tqdm import tqdm
import time
import calendar

from time import sleep
import configparser
from dateutil.relativedelta import relativedelta
import datetime
from dateutil.easter import easter
from scipy.optimize import minimize_scalar
from scipy.optimize import curve_fit

%matplotlib inline

## Getting data from Github and moving to SF

In [ ]:
# URL of the CSV file on GitHub
#url = 'https://github.com/aksh301091/fdc_akshaya_git/blob/91a0b3faf99492355d3816919fbf79de434926c3/ME_CASINO_PRJ/customer_table.csv'
#'https://raw.githubusercontent.com/username/repository/branch/filename.csv'

In [2]:
from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()

In [3]:
# Read the CSV file into a DataFrame
cust_df = pd.read_csv('customer_table.csv')
#trx_df = pd.read_csv('transaction_table.csv')

#cust_df.info()

In [7]:
t1_df = pd.read_csv('trx_1.csv')
t2_df = pd.read_csv('trx_2.csv')
t3_df = pd.read_csv('trx_3.csv')

In [5]:
type(cust_df)

pandas.core.frame.DataFrame

In [ ]:
cust_sfdf = my_session.createDataFrame(cust_df)
cust_sfdf.write.mode("overwrite").save_as_table("casino_customers")
#my_session.table("casino_customers").show()

In [11]:
#inter_df = pd.concat([t1_df, t2_df, t2_df, ignore_index=True)
inter_df = t1_df._append(t2_df,ignore_index=True)

#for trx_df in (t1_df, t2_df, t3_df):
#    trx_df =  trx_df.append(df, ignore_index=True)
#trx_df

In [12]:
trx_df = inter_df._append(t3_df, ignore_index=True)

In [15]:
trx_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 24 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   TRANSACTION_ID                      200000 non-null  int64
 1   DATE                                200000 non-null  object
 2   PLAYER_ID                           200000 non-null  int64
 3   PLAYER_AGE                          200000 non-null  int64
 4   PLAYER_GENDER                       200000 non-null  object
 5   HOME_COUNTRY                        200000 non-null  object
 6   HOME_CITY                           200000 non-null  object
 7   GAME_CATEGORY                       200000 non-null  object
 8   GAME_NAME                           200000 non-null  object
 9   TABLE_MINIMUM_BET                   200000 non-null  float64
 10  IS_PREMIUM_PLAYER                   200000 non-null  bool
 11  DURATION_SPENT                      200000 non-null  float64
 12  CHIPS_WON_OR_LOST                   200000 non-null  int64
 13  NUMBER_OF_DAYS_SPENT_IN_CASINO      200000 non-null  int64
 14  STAYED_AT_CASINO_HOTEL              200000 non-null  bool
 15  AMOUNT_SPENT_IN_HOTEL_STAY          200000 non-null  float64
 16  NUMBER_OF_DAYS_SPENT_IN_HOTEL       200000 non-null  int64
 17  NUMBER_OF_RESTAURANT_VISITS         200000 non-null  int64
 18  AMOUNT_SPENT_IN_CASINO_RESTAURANT   200000 non-null  float64
 19  NUMBER_OF_CONCIERGE_VISITS          200000 non-null  int64
 20  AMOUNT_SPENT_IN_SPA                 200000 non-null  float64
 21  NUMBER_OF_SPA_VISITS                200000 non-null  int64
 22  IS_LOYALTY_CARD_HOLDER              200000 non-null  bool
 23  REVENUE_MADE_BY_CASINO_FROM_PLAYER  200000 non-null  float64
dtypes: bool(3), float64(6), int64(9), object(6)
memory usage: 32.6+ MB

In [14]:
trx_sfdf = my_session.createDataFrame(trx_df)
trx_sfdf.write.mode("overwrite").save_as_table("casino_transactions")

#my_session.table("casino_transactions").show()

In [ ]:
df.info()

In [ ]:
## Reading data from SF 
table_name = 'DF_OPT'
df_opt = my_session.sql("select * from {}".format(table_name))
df_opt = df_opt.to_pandas()